@use 'src/styles/shared' as *;

$slideHeightTabletL: calc(64px * 4 + 16px * 3);
$slideHeightDesktop: calc(64px * 5 + 16px * 4);

.productHero {
  margin: 20px 0 40px;

  &Container {
    @include container;
    @include flex($d: column);
    column-gap: 20px;
    row-gap: 20px;
    @include mediaTabletL {
      display: grid;
      grid-auto-rows: auto;
      grid-auto-flow: row;
      grid-template-columns: repeat(8, 1fr);
      grid-template-areas:
    'title title title title title title title title'
    'header header header header header header header header'
    'sliders sliders sliders sliders info info actions actions';

      .productTitle {
        grid-area: title;
      }

      .productHeader {
        grid-area: header;
      }

      .productSliders {
        grid-area: sliders;
      }

      .productInfo {
        grid-area: info;
      }

      .productActions {
        grid-area: actions;
      }
    }
  }

  &Button {
    @include textS;

    &Cart {
      @include buttonPrimary;
    }

    &Quick {
      @include buttonMain;
    }
  }

  &Prices {
    @include flex(center, $w: wrap);
    column-gap: 8px;

    &Tax {
      @include buttonMinor;
    }
  }

  &Price {
    &._prev {
      @include textLineThrough($colorRed);
      @include textXs;
      font-weight: 500;
      color: $colorRed;
    }

    &._current {
      @include textXxl;
      font-weight: 600;
    }
  }

  &Cart {
    @include flex(center);
    column-gap: 8px;

    &Quantity {
      @include dropFlex;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      overflow: hidden;
      border-radius: $brM;
      background: $colorGreyMild;
      width: 120px;
      height: 40px;
      @include mediaTabletS {
        width: 240px;
      }
      @include mediaTabletL {
        width: 88px;
      }
      @include mediaDesktop {
        width: 140px;
      }

      &Button, &Input {
        @include dropFlex;
        text-align: center;
      }

      &Button {
        @include flex(center, center);
        transition: background-color $trM;
        @include onHover {
          background: #e0e0e0;
        }

        &:active {
          background: $colorGreyDarker;
        }
      }
    }
  }

  &Note {
    @include textXxs;
    color: $colorDarkMild;
  }

  &Status {
    @include textM;
    @include flex(center);
    column-gap: 4px;
    color: $colorGreen;
    // margin-bottom: 8px;
    width: fit-content;

    &._stock {

    }

    &._order {
      color: $colorRed;
    }

    &Text {
      border-bottom: 1px dotted;
    }
  }

  &Tag {
    @include flex(center, $w: wrap);
    column-gap: 8px;
    row-gap: 8px;
    padding: 16px;
    background: $colorGreen;
    border-radius: $brM;
    color: white;
    @include mediaTabletL {
      column-gap: 6px;
      row-gap: 6px;
      padding: 12px;
    }
    @include mediaLaptopM {
      column-gap: 8px;
      row-gap: 8px;
      padding: 16px;
    }

    &Icon {
      @include dropFlex;
      @include flex(center, center);
      background: white;
      color: $colorGreen;
      padding: 8px;
      font-size: 16px;
      border-radius: 50%;
      @include mediaLaptopS {

      }
      @include mediaDesktop {
        padding: 8px;
        font-size: 20px;
      }
    }

    &Title {
      @include textM;
      font-weight: 600;
    }

    &Text {
      @include textXs;
      font-weight: 500;
      letter-spacing: 0.02em;
      width: 100%;

      a, button {
        display: inline-block;
        text-decoration: underline;
        margin-top: 4px;
      }
    }
  }

  &Row {
    @include flex(center);
    column-gap: 8px;
  }
}

.productHeader {
  @include textM;
  @include flex($d: column);
  column-gap: 16px;
  row-gap: 16px;
  order: 4;
  @include mediaTabletL {
    @include flex(center, flex-start, row);
    width: 100%;
    order: unset;
  }

  &Code {
    @include flex(center);
    column-gap: 4px;
  }

  &Buttons {
    @include flex(center);
    column-gap: 16px;
    @include mediaTabletL {
      margin-left: auto;
    }
  }

  &Reviews {
    column-gap: 8px;

    &, &Stars, &Top, &Bottom {
      @include dropFlex;
      @include flex(center);
    }

    &Stars {
      position: relative;
      z-index: 0;
      width: fit-content;
    }

    &Top {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      color: $colorYellow;
      max-width: 100%;
      overflow: hidden;
    }

    &Bottom {
      color: $colorGreyMild;
    }

    &Button {
      @include flex(center);
      column-gap: 4px;
    }

    &Rating {
      display: inline-block;
      font-weight: 600;
      border: 1px solid $colorYellow;
      border-radius: 50%;
      padding: 8px;
    }

    &Quantity {
      display: inline-block;
      border-bottom: 1px dashed $colorYellow;
    }
  }

  &Buttons {
    // margin-left: auto;
  }
}

.productTitle {
  @include h2;
  order: 2;
  @include mediaTabletL {
    order: unset;
  }
}

.productSliders {
  @include dropFlex;
  @include flex($d: column);
  row-gap: 8px;
  width: 100%;
  @include mediaTabletL {
    @include flex($d: row);
    max-height: $slideHeightTabletL;
  }
  @include mediaDesktop {
    max-height: $slideHeightDesktop;
  }

  .swiper {
    @include dropFlex;
    overflow: hidden;

    &-slide {
      @include flex(center, center);
      transition: border-color 0.333s, opacity 0.333s;
      overflow: hidden;
      border-radius: $brM;

      picture, a, button {
        display: contents;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

.productSliderThumbs {
  order: 2;
  width: 100%;
  @include mediaTabletL {
    width: 80px;
    order: unset;
  }

  .swiper {
    &-slide {
      @include thumbs;
    }
  }
}

.productSliderMain {
  border: 1px solid $colorGreyMild;
  border-radius: $brM;
  height: 100%;
  width: 100%;
  max-height: 100%;
  order: 1;
  @include mediaTabletL {
    order: unset;
    width: calc(100% - 80px);
    height: $slideHeightTabletL;
  }
  @include mediaDesktop {
    height: $slideHeightDesktop;
  }
}

.productInfo {
  @include dropFlex;
  order: 3;
  @include mediaTabletL {
    order: unset;
  }

  &Buttons {
    @include flex(center);
    column-gap: 16px;
  }

  &Button {
    @include buttonMinor;
    width: fit-content;
  }
}

.productActions {
  @include flex($d: column);
  row-gap: 16px;
  order: 4;
  @include mediaTabletL {
    order: unset;
  }
  @include mediaLaptopS {
    row-gap: 12px;
  }
  @include mediaDesktop {
    row-gap: 16px;
  }
}
