@use 'src/styles/shared' as *;

.product {
  &Container {
    @include container;
  }

  &Layout {
    @include mediaTabletL {
      display: grid;
      grid-template-columns: 3fr 1fr;
      column-gap: 60px;
    }
  }

  &Main {
    .productSection {
      &:first-child {
        margin-top: 0 !important;
      }
    }

    .productSectionContainer {
      max-width: none !important;
      padding: 0 !important;
    }
  }

  &Aside {
    @include textS;
    @include mediaTabletL {
      position: sticky;
      z-index: 0;
      top: calc(var(--headerHeight) + 20px);
      height: fit-content;
    }

    &Col {
      margin-bottom: 20px;

      &Title {
        font-weight: 500;
        margin-bottom: 1em;
      }
    }

    &Brand {
      @extend .productAsideCol !optional;
      @include flex($d: column);
      row-gap: 4px;
      padding: 16px;
      border: 1px solid $colorGreyMild;
      border-radius: $brM;
      box-shadow: $bsM;

      &Logo {
      }

      &Title {
        @extend .productAsideColTitle !optional;
        font-weight: 600;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
      }

      &Button {
        @include buttonMinor;
        max-width: 240px;
        margin-top: 8px;
        line-height: 1 !important;
      }
    }

    &Download {
      @include flex(center);
      column-gap: 8px;
      width: fit-content;
      margin-bottom: 16px;
      line-height: 1 !important;

      .iconfont {
        color: $colorBlue;
      }

      &._all {
        font-weight: 600;
      }
    }
  }

  //&Reviews {
  //}
  //
  //&Review {
  //  &Author {
  //  }
  //
  //  &Positives {
  //  }
  //
  //  &Negatives {
  //  }
  //}

}
