@use 'src/styles/shared' as *;

.product {
  &Container {
    @include container;
  }

  &Title {
    @include h1;
    margin-bottom: 20px;
  }

  &Header {
    @include textS;
    @include flex(center);
    column-gap: 16px;

    &Reviews {
    }

    &Buttons {
      @include flex(center);
      column-gap: 16px;
      margin-left: auto;
    }
  }

  &Info {
    &Button {
      @include buttonMinor;
      width: fit-content;
    }
  }

  &Reviews {
  }

  &Review {
    &Author {
    }

    &Positives {
    }

    &Negatives {
    }
  }

  &Body {
    @include dropFlex;
    width: 50%;
  }

  &Subtitle {
    @include h3;
    margin-bottom: 20px;
  }

  &Description {
    @include textBody;
  }

  &Technical {
    @include textM;

    &Row {
      @include flex(center, space-between);
      // column-gap: 16px;
    }

    &Key {
      //position: relative;
      //z-index: 0;
    }

    &Divider {
      margin: auto 2px 5px;
      flex-grow: 1;
      border-bottom: 1px dotted $colorGrey;
    }

    &Value {
    }
  }

  &Sliders {
    @include dropFlex;
    @include flex;
    //display: grid;
    //grid-template-columns: 80px 1fr;
    column-gap: 16px;
    width: fit-content;

    .swiper {
      &-nav {
        @include flex(center);
        margin: 20px auto 0;
        width: fit-content;
        position: relative;
        z-index: 2;
      }

      &-pagination {
        position: static;
        z-index: 0;
        transform: none;
      }

      &-button {
        &-prev, &-next {
          position: static;
          z-index: 0;
          transform: none;
        }
      }
    }
  }

  &Slider {
    &Thumbs {
      @include dropFlex;
      position: relative;
      z-index: 1;

      .swiper {
        &-slide {
          @include flex(center, center);
          width: 80px;
          height: 80px;
          border: 1px solid $colorGreyMild;
          border-radius: $brM;
          cursor: pointer;

          &-thumb {
            &-active {
              border-color: $colorDarkMild;
            }
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
      }
    }

    &Main {
      @include dropFlex;
      position: relative;
      z-index: 1;
      width: 400px;
      // height: 400px;

      .swiper {
        &-wrapper {
          height: fit-content;
        }

        &-slide {
          // height: 400px;
        }
      }
    }
  }
}
