@use 'src/styles/shared' as *;

.breadcrumbs {
  font-size: 13px;
  position: relative;
  z-index: 99;
  padding: 1.5em 0;
  background: white;
  @include mediaLaptopS {
    z-index: 0;
  }

  &-container {
    @include container;
  }
}

.breadcrumb {
  color: black;

  &:after {
    content: '/';
    display: inline-block;
    margin: 0 0.75em;
  }

  &.active {
    color: black;

    &::after {
      display: none;
    }
  }
}
