$icon-metro: unquote('"\\e900"');
$icon-pencil: unquote('"\\e905"');
$icon-arrow-down: unquote('"\\e909"');
$icon-arrow-left: unquote('"\\e90a"');
$icon-arrow-right: unquote('"\\e90b"');
$icon-arrow-up: unquote('"\\e90c"');
$icon-close: unquote('"\\e90d"');
$icon-filters: unquote('"\\e90e"');
$icon-heart: unquote('"\\e90f"');
$icon-heart-fill: unquote('"\\e910"');
$icon-location: unquote('"\\e911"');
$icon-image: unquote('"\\e912"');
$icon-menu: unquote('"\\e913"');
$icon-person: unquote('"\\e915"');
$icon-search: unquote('"\\e916"');
$icon-suitcase: unquote('"\\e917"');
$icon-images: unquote('"\\e918"');
$icon-camera: unquote('"\\e91a"');
$icon-folder-open: unquote('"\\e930"');
$icon-price-tag: unquote('"\\e935"');
$icon-price-tags: unquote('"\\e936"');
$icon-cart: unquote('"\\e93a"');
$icon-credit-card: unquote('"\\e93f"');
$icon-tel: unquote('"\\e942"');
$icon-email: unquote('"\\e945"');
$icon-display: unquote('"\\e956"');
$icon-laptop: unquote('"\\e957"');
$icon-mobile: unquote('"\\e959"');
$icon-bubble: unquote('"\\e96b"');
$icon-spinner: unquote('"\\e97b"');
$icon-zoom-in: unquote('"\\e987"');
$icon-zoom-out: unquote('"\\e988"');
$icon-settings: unquote('"\\e994"');
$icon-stats-bars: unquote('"\\e99c"');
$icon-bin: unquote('"\\e9ad"');
$icon-briefcase: unquote('"\\e9ae"');
$icon-airplane: unquote('"\\e9af"');
$icon-truck: unquote('"\\e9b0"');
$icon-link: unquote('"\\e9cb"');
$icon-attachment: unquote('"\\e9cd"');
$icon-eye: unquote('"\\e9ce"');
$icon-eye-blocked: unquote('"\\e9d1"');
$icon-bookmark: unquote('"\\e9d2"');
$icon-bookmarks: unquote('"\\e9d3"');
$icon-star-full: unquote('"\\e9d9"');
$icon-notification: unquote('"\\ea08"');
$icon-info: unquote('"\\ea0c"');
$icon-ascending: unquote('"\\ea4c"');
$icon-descending: unquote('"\\ea4d"');
$icon-indent-increase: unquote('"\\ea7b"');
$icon-instagram: unquote('"\\ea92"');
$icon-whatsapp: unquote('"\\ea93"');
$icon-telegram: unquote('"\\ea95"');
$icon-vk: unquote('"\\ea98"');
$icon-youtube: unquote('"\\ea9d"');
$icon-bell: unquote('"\\e919"');

@font-face {
  font-family: 'iconfont';
  src: url('src/assets/iconfonts/iconfont.eot?v7cgix');
  src: url('src/assets/iconfonts/iconfont.eot?v7cgix#iefix') format('embedded-opentype'),
  url('src/assets/iconfonts/iconfont.ttf?v7cgix') format('truetype'),
  url('src/assets/iconfonts/iconfont.woff?v7cgix') format('woff'),
  url('src/assets/iconfonts/iconfont.svg?v7cgix#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.iconfont {
  font-family: 'iconfont', emoji !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-metro {
  &:before {
    content: $icon-metro;
  }
}

.icon-pencil {
  &:before {
    content: $icon-pencil;
  }
}

.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}

.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}

.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}

.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}

.icon-close {
  &:before {
    content: $icon-close;
  }
}

.icon-filters {
  &:before {
    content: $icon-filters;
  }
}

.icon-heart {
  &:before {
    content: $icon-heart;
  }
}

.icon-heart-fill {
  &:before {
    content: $icon-heart-fill;
  }
}

.icon-location {
  &:before {
    content: $icon-location;
  }
}

.icon-image {
  &:before {
    content: $icon-image;
  }
}

.icon-menu {
  &:before {
    content: $icon-menu;
  }
}

.icon-person {
  &:before {
    content: $icon-person;
  }
}

.icon-search {
  &:before {
    content: $icon-search;
  }
}

.icon-suitcase {
  &:before {
    content: $icon-suitcase;
  }
}

.icon-images {
  &:before {
    content: $icon-images;
  }
}

.icon-camera {
  &:before {
    content: $icon-camera;
  }
}

.icon-folder-open {
  &:before {
    content: $icon-folder-open;
  }
}

.icon-price-tag {
  &:before {
    content: $icon-price-tag;
  }
}

.icon-price-tags {
  &:before {
    content: $icon-price-tags;
  }
}

.icon-cart {
  &:before {
    content: $icon-cart;
  }
}

.icon-credit-card {
  &:before {
    content: $icon-credit-card;
  }
}

.icon-tel {
  &:before {
    content: $icon-tel;
  }
}

.icon-email {
  &:before {
    content: $icon-email;
  }
}

.icon-display {
  &:before {
    content: $icon-display;
  }
}

.icon-laptop {
  &:before {
    content: $icon-laptop;
  }
}

.icon-mobile {
  &:before {
    content: $icon-mobile;
  }
}

.icon-bubble {
  &:before {
    content: $icon-bubble;
  }
}

.icon-spinner {
  &:before {
    content: $icon-spinner;
  }
}

.icon-zoom-in {
  &:before {
    content: $icon-zoom-in;
  }
}

.icon-zoom-out {
  &:before {
    content: $icon-zoom-out;
  }
}

.icon-settings {
  &:before {
    content: $icon-settings;
  }
}

.icon-stats-bars {
  &:before {
    content: $icon-stats-bars;
  }
}

.icon-bin {
  &:before {
    content: $icon-bin;
  }
}

.icon-briefcase {
  &:before {
    content: $icon-briefcase;
  }
}

.icon-airplane {
  &:before {
    content: $icon-airplane;
  }
}

.icon-truck {
  &:before {
    content: $icon-truck;
  }
}

.icon-link {
  &:before {
    content: $icon-link;
  }
}

.icon-attachment {
  &:before {
    content: $icon-attachment;
  }
}

.icon-eye {
  &:before {
    content: $icon-eye;
  }
}

.icon-eye-blocked {
  &:before {
    content: $icon-eye-blocked;
  }
}

.icon-bookmark {
  &:before {
    content: $icon-bookmark;
  }
}

.icon-bookmarks {
  &:before {
    content: $icon-bookmarks;
  }
}

.icon-star-full {
  &:before {
    content: $icon-star-full;
  }
}

.icon-notification {
  &:before {
    content: $icon-notification;
  }
}

.icon-info {
  &:before {
    content: $icon-info;
  }
}

.icon-ascending {
  &:before {
    content: $icon-ascending;
  }
}

.icon-descending {
  &:before {
    content: $icon-descending;
  }
}

.icon-indent-increase {
  &:before {
    content: $icon-indent-increase;
  }
}

.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}

.icon-whatsapp {
  &:before {
    content: $icon-whatsapp;
  }
}

.icon-telegram {
  &:before {
    content: $icon-telegram;
  }
}

.icon-vk {
  &:before {
    content: $icon-vk;
  }
}

.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}

.icon-bell {
  &:before {
    content: $icon-bell;
  }
}

