$icon-return: unquote('"\\e92b"');
$icon-speed: unquote('"\\e901"');
$icon-medal: unquote('"\\e902"');
$icon-handshake: unquote('"\\e92c"');
$icon-hand-peace: unquote('"\\e92d"');
$icon-gift: unquote('"\\e900"');
$icon-dislike: unquote('"\\e903"');
$icon-like: unquote('"\\e904"');
$icon-eye-hide: unquote('"\\e905"');
$icon-grid: unquote('"\\e906"');
$icon-row: unquote('"\\e907"');
$icon-calendar: unquote('"\\e908"');
$icon-download: unquote('"\\e909"');
$icon-eye: unquote('"\\e90a"');
$icon-location: unquote('"\\e90b"');
$icon-heart: unquote('"\\e90c"');
$icon-heart-fill: unquote('"\\e90d"');
$icon-mail: unquote('"\\e90e"');
$icon-bin: unquote('"\\e90f"');
$icon-calculator: unquote('"\\e910"');
$icon-cart: unquote('"\\e911"');
$icon-star: unquote('"\\e912"');
$icon-cart-filled: unquote('"\\e913"');
$icon-catalog: unquote('"\\e914"');
$icon-close: unquote('"\\e915"');
$icon-clock: unquote('"\\e916"');
$icon-warning: unquote('"\\e917"');
$icon-vk: unquote('"\\e918"');
$icon-logout: unquote('"\\e919"');
$icon-mute: unquote('"\\e91a"');
$icon-metro: unquote('"\\e91b"');
$icon-pencil: unquote('"\\e91c"');
$icon-arrow-down: unquote('"\\e91d"');
$icon-arrow-left: unquote('"\\e91e"');
$icon-arrow-right: unquote('"\\e91f"');
$icon-arrow-up: unquote('"\\e920"');
$icon-filters: unquote('"\\e921"');
$icon-image: unquote('"\\e922"');
$icon-menu: unquote('"\\e923"');
$icon-person: unquote('"\\e924"');
$icon-search: unquote('"\\e925"');
$icon-suitcase: unquote('"\\e926"');
$icon-images: unquote('"\\e927"');
$icon-bell: unquote('"\\e928"');
$icon-camera: unquote('"\\e929"');
$icon-mic: unquote('"\\e92a"');
$icon-folder-open: unquote('"\\e930"');
$icon-price-tag: unquote('"\\e935"');
$icon-price-tags: unquote('"\\e936"');
$icon-credit-card: unquote('"\\e93f"');
$icon-tel: unquote('"\\e942"');
$icon-display: unquote('"\\e956"');
$icon-laptop: unquote('"\\e957"');
$icon-mobile: unquote('"\\e959"');
$icon-bubble: unquote('"\\e96b"');
$icon-spinner: unquote('"\\e97b"');
$icon-zoom-in: unquote('"\\e987"');
$icon-zoom-out: unquote('"\\e988"');
$icon-cog: unquote('"\\e994"');
$icon-stats-bars: unquote('"\\e99c"');
$icon-briefcase: unquote('"\\e9ae"');
$icon-airplane: unquote('"\\e9af"');
$icon-truck: unquote('"\\e9b0"');
$icon-link: unquote('"\\e9cb"');
$icon-attachment: unquote('"\\e9cd"');
$icon-bookmark: unquote('"\\e9d2"');
$icon-bookmarks: unquote('"\\e9d3"');
$icon-info: unquote('"\\ea0c"');
$icon-sort-amount-asc: unquote('"\\ea4c"');
$icon-sort-amount-desc: unquote('"\\ea4d"');
$icon-indent-increase: unquote('"\\ea7b"');
$icon-instagram: unquote('"\\ea92"');
$icon-whatsapp: unquote('"\\ea93"');
$icon-telegram: unquote('"\\ea95"');
$icon-youtube: unquote('"\\ea9d"');
$icon-user-suit: unquote('"\\e976"');
$icon-hammer: unquote('"\\e996"');

@font-face {
  font-family: 'iconfont';
  src: url('src/assets/iconfonts/iconfont.eot?a045be');
  src: url('src/assets/iconfonts/iconfont.eot?a045be#iefix') format('embedded-opentype'),
  url('src/assets/iconfonts/iconfont.ttf?a045be') format('truetype'),
  url('src/assets/iconfonts/iconfont.woff?a045be') format('woff'),
  url('src/assets/iconfonts/iconfont.svg?a045be#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.iconfont {
  font-family: 'iconfont', emoji !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-return {
  &:before {
    content: $icon-return;
  }
}

.icon-speed {
  &:before {
    content: $icon-speed;
  }
}

.icon-medal {
  &:before {
    content: $icon-medal;
  }
}

.icon-handshake {
  &:before {
    content: $icon-handshake;
  }
}

.icon-hand-peace {
  &:before {
    content: $icon-hand-peace;
  }
}

.icon-gift {
  &:before {
    content: $icon-gift;
  }
}

.icon-dislike {
  &:before {
    content: $icon-dislike;
  }
}

.icon-like {
  &:before {
    content: $icon-like;
  }
}

.icon-eye-hide {
  &:before {
    content: $icon-eye-hide;
  }
}

.icon-grid {
  &:before {
    content: $icon-grid;
  }
}

.icon-row {
  &:before {
    content: $icon-row;
  }
}

.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}

.icon-download {
  &:before {
    content: $icon-download;
  }
}

.icon-eye {
  &:before {
    content: $icon-eye;
  }
}

.icon-location {
  &:before {
    content: $icon-location;
  }
}

.icon-heart {
  &:before {
    content: $icon-heart;
  }
}

.icon-heart-fill {
  &:before {
    content: $icon-heart-fill;
  }
}

.icon-mail {
  &:before {
    content: $icon-mail;
  }
}

.icon-bin {
  &:before {
    content: $icon-bin;
  }
}

.icon-calculator {
  &:before {
    content: $icon-calculator;
  }
}

.icon-cart {
  &:before {
    content: $icon-cart;
  }
}

.icon-star {
  &:before {
    content: $icon-star;
  }
}

.icon-cart-filled {
  &:before {
    content: $icon-cart-filled;
  }
}

.icon-catalog {
  &:before {
    content: $icon-catalog;
  }
}

.icon-close {
  &:before {
    content: $icon-close;
  }
}

.icon-clock {
  &:before {
    content: $icon-clock;
  }
}

.icon-warning {
  &:before {
    content: $icon-warning;
  }
}

.icon-vk {
  &:before {
    content: $icon-vk;
  }
}

.icon-logout {
  &:before {
    content: $icon-logout;
  }
}

.icon-mute {
  &:before {
    content: $icon-mute;
  }
}

.icon-metro {
  &:before {
    content: $icon-metro;
  }
}

.icon-pencil {
  &:before {
    content: $icon-pencil;
  }
}

.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}

.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}

.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}

.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}

.icon-filters {
  &:before {
    content: $icon-filters;
  }
}

.icon-image {
  &:before {
    content: $icon-image;
  }
}

.icon-menu {
  &:before {
    content: $icon-menu;
  }
}

.icon-person {
  &:before {
    content: $icon-person;
  }
}

.icon-search {
  &:before {
    content: $icon-search;
  }
}

.icon-suitcase {
  &:before {
    content: $icon-suitcase;
  }
}

.icon-images {
  &:before {
    content: $icon-images;
  }
}

.icon-bell {
  &:before {
    content: $icon-bell;
  }
}

.icon-camera {
  &:before {
    content: $icon-camera;
  }
}

.icon-mic {
  &:before {
    content: $icon-mic;
  }
}

.icon-folder-open {
  &:before {
    content: $icon-folder-open;
  }
}

.icon-price-tag {
  &:before {
    content: $icon-price-tag;
  }
}

.icon-price-tags {
  &:before {
    content: $icon-price-tags;
  }
}

.icon-credit-card {
  &:before {
    content: $icon-credit-card;
  }
}

.icon-tel {
  &:before {
    content: $icon-tel;
  }
}

.icon-display {
  &:before {
    content: $icon-display;
  }
}

.icon-laptop {
  &:before {
    content: $icon-laptop;
  }
}

.icon-mobile {
  &:before {
    content: $icon-mobile;
  }
}

.icon-bubble {
  &:before {
    content: $icon-bubble;
  }
}

.icon-spinner {
  &:before {
    content: $icon-spinner;
  }
}

.icon-zoom-in {
  &:before {
    content: $icon-zoom-in;
  }
}

.icon-zoom-out {
  &:before {
    content: $icon-zoom-out;
  }
}

.icon-cog {
  &:before {
    content: $icon-cog;
  }
}

.icon-stats-bars {
  &:before {
    content: $icon-stats-bars;
  }
}

.icon-briefcase {
  &:before {
    content: $icon-briefcase;
  }
}

.icon-airplane {
  &:before {
    content: $icon-airplane;
  }
}

.icon-truck {
  &:before {
    content: $icon-truck;
  }
}

.icon-link {
  &:before {
    content: $icon-link;
  }
}

.icon-attachment {
  &:before {
    content: $icon-attachment;
  }
}

.icon-bookmark {
  &:before {
    content: $icon-bookmark;
  }
}

.icon-bookmarks {
  &:before {
    content: $icon-bookmarks;
  }
}

.icon-info {
  &:before {
    content: $icon-info;
  }
}

.icon-sort-amount-asc {
  &:before {
    content: $icon-sort-amount-asc;
  }
}

.icon-sort-amount-desc {
  &:before {
    content: $icon-sort-amount-desc;
  }
}

.icon-indent-increase {
  &:before {
    content: $icon-indent-increase;
  }
}

.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}

.icon-whatsapp {
  &:before {
    content: $icon-whatsapp;
  }
}

.icon-telegram {
  &:before {
    content: $icon-telegram;
  }
}

.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}

.icon-user-suit {
  &:before {
    content: $icon-user-suit;
  }
}

.icon-hammer {
  &:before {
    content: $icon-hammer;
  }
}

