@use 'src/styles/shared/variables/colors' as Colors;

#app .noUi {
  &-horizontal {
    // width: calc(100% - 32px);
    width: calc(100% - 8px);
    height: 6px;
    margin: 0 8px 16px auto;
    border: 0;
    border-radius: 3px;
    background: Colors.$colorGreyMild;
  }

  &-target {
    border: 0;
    box-shadow: none;
  }

  &-connects {
    border-radius: 0;
  }

  &-connect {
    border: 0;
    border-radius: 0;
    background: Colors.$colorDarkMild;
  }

  &-handle {
    top: -9px;
    right: -10px;
    width: 24px;
    height: 24px;
    cursor: grab;
    border: 1px solid black;
    border-radius: 50%;
    background: white;

    &::before, &::after {
      display: none;
    }

    &-lower {
      right: -20px;
    }

    &-upper {
      right: -16px
    }
  }

  &-touch-area {
    border-radius: 50%;
    background: white;
  }
}
