@use "src/styles/shared" as *;

.modalFeedback {
  @include scrollbar;
  position: fixed;
  z-index: 120;
  top: 50%;
  left: 50%;
  overflow-x: hidden;
  overflow-y: auto;
  width: calc(100% - 32px);
  max-width: 480px;
  max-height: 90%;
  transition: transform $trM, opacity $trM;
  transform: translate(-50%, 0);
  pointer-events: none;
  opacity: 0;
  border: 1px solid $colorGreyMild;
  border-radius: $brM;
  background: white;

  &._active {
    transform: translate(-50%, -50%);
    pointer-events: auto;
    opacity: 1;
  }

  &Close {
    font-size: 16px;
    position: absolute;
    z-index: 1;
    top: 16px;
    right: 16px;
    color: $colorGrey;
  }

  &Overlay {
    @include overlay;
    z-index: 110;
  }
}
