@use 'src/styles/shared' as *;

.modalFeedback {
  @include scrollbar;
  position: fixed;
  z-index: 120;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid $colorGreyMild;
  border-radius: $brM;
  opacity: 0;
  pointer-events: none;
  width: calc(100% - 32px);
  max-height: 90%;
  max-width: 540px;
  overflow-y: auto;
  overflow-x: hidden;


  &._active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
  }

  &Close {
    position: absolute;
    z-index: 1;
    top: 16px;
    right: 16px;
    font-size: 16px;
    color: $colorGrey;
  }

  &Overlay {
    @include overlay;
    z-index: 110;
  }
}
