@use 'src/styles/shared' as *;

.reviews {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  @include mediaTabletL {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
}

.review {
  @include flex($d: column);
  font-size: 14px;
  letter-spacing: 0.02em;
  padding: 14px;
  // color: white;
  border-radius: 6px;
  background: $colorGreyMild;
  // box-shadow: 4px 4px 16px 0 rgba(black, 0.15);

  &-title {
    font-weight: 500;
    margin-bottom: 10px;
    color: black;
  }

  &-date {
    font-size: 13px;
    margin-bottom: 10px;
  }

  &-body {
    @include lineClamp(4);
    margin-bottom: 10px;
  }

  &-button {
    text-decoration: underline;
    display: inline-block;
    margin-top: auto;
  }
}
