@use 'src/styles/shared' as *;

.catalog {
  &Nav {
    @include dropFlex;
    @include textM;
    @include flex(center, space-between);
    column-gap: 8px;
    @include mediaMobileL {
      column-gap: 16px;
    }
    @include mediaTabletM {
      column-gap: 20px;
    }
  }

  &Sort {
    position: relative;
    z-index: 4;

    &Summary {
      @include textXs;
      @include flex(center);
      letter-spacing: -0.02em;
      column-gap: 4px;
      cursor: pointer;
      @include mediaDesktop {
        column-gap: 8px;
      }
    }

    &Current {
      color: $colorBlue;
    }

    &Button {
      @include flex(center, center);
      color: $colorDarkMild;
    }

    //&Title {
    //  // @include textS;
    //}

    &List {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 16px;
      position: absolute;
      z-index: 1;
      top: calc(100% + 8px);
      left: 0;
      width: 100%;
      background: white;
      border: 1px solid $colorGreyMild;
      border-radius: $brM;
      box-shadow: $bsM;
      padding: 16px;
      transform: translate(0, 40px);
      opacity: 0;
      pointer-events: none;
      transition: opacity $trM, transform $trM;

      &._active {
        transform: translate(0, 0);
        opacity: 1;
        pointer-events: auto;
      }
    }

    &Item {
      @include textXs;
      @include flex(center);
      column-gap: 8px;
    }
  }

  &ViewButtons {
    @include flex(center);
    column-gap: 8px;
    @include mediaMobileL {
      column-gap: 16px;
    }
  }

  &ViewButton, &OpenAside {
    @include flex(center, center);
    font-size: 16px;
    line-height: 1;
    color: $colorGreyDarker;
    @include mediaMobileM {
      font-size: 20px;
    }

    @include onHover {
      color: $colorBlueLight
    }

    &:active {
      color: $colorBlueDarker;
    }

    &._active {
      color: $colorBlue;
    }
  }

  &OpenAside {
    margin-left: auto;
    color: $colorDarkMild;
    @include mediaTabletL {
      display: none;
    }
  }
}
