@use 'src/styles/shared' as *;


.catalog {
  // margin: 40px 0;

  &Container {
    @include container;
  }


  &Layout {
    @include dropFlex;
    @include mediaTabletL {
      display: grid;
      grid-template-columns: 1fr 3fr;
      column-gap: 20px;
    }
    @include mediaLaptopM {
      column-gap: 40px;
    }
  }

  &Main {
    @include dropFlex;
    @include flex($d: column);
    row-gap: 16px;
    @include mediaTabletM {
      row-gap: 20px;
    }
  }

  &Products {
    &.grid {
      @include productsLayout;
    }

    &.row {
      @include flex($d: column);
      row-gap: 20px;
    }
  }
}

[data-catalog-prices] {
  margin-bottom: 1em;
}

