@use "src/styles/shared" as *;

.catalog {
  &Nav {
    @include resetFlex;
    @include textM;
    @include flex(center, space-between);
    column-gap: 8px;
    @include mediaMobileL {
      column-gap: 16px;
    }
    @include mediaTabletM {
      column-gap: 20px;
    }
  }

  &Sort {
    position: relative;
    z-index: 4;

    &Summary {
      @include textXs;
      @include flex(center);
      cursor: pointer;
      letter-spacing: -0.02em;
      column-gap: 4px;
      @include mediaDesktop {
        column-gap: 8px;
      }
    }

    &Current {
      color: $colorPrimary;
    }

    &Button {
      @include flex(center, center);
      color: $colorDarkMild;
    }

    //&Title {
    //  // @include textS;
    //}

    &List {
      position: absolute;
      z-index: 1;
      top: calc(100% + 8px);
      left: 0;
      display: grid;
      width: 100%;
      padding: 16px;
      transition: opacity $trM, transform $trM;
      transform: translate(0, 40px);
      pointer-events: none;
      opacity: 0;
      border: 1px solid $colorGreyMild;
      border-radius: $brM;
      background: white;
      box-shadow: $bsM;
      grid-template-columns: 1fr;
      row-gap: 16px;

      &._active {
        transform: translate(0, 0);
        pointer-events: auto;
        opacity: 1;
      }
    }

    &Item {
      @include textXs;
      @include flex(center);
      column-gap: 8px;
    }
  }

  &ViewButtons {
    @include flex(center);
    column-gap: 8px;
    @include mediaMobileL {
      column-gap: 16px;
    }
  }

  &ViewButton, &OpenAside {
    @include flex(center, center);
    font-size: 16px;
    line-height: 1;
    color: $colorGreyDarker;
    @include mediaMobileM {
      font-size: 20px;
    }

    @include onHover {
      color: $colorPrimaryLight
    }

    &:active {
      color: $colorPrimaryDarker;
    }

    &._active {
      color: $colorPrimary;
    }
  }

  &OpenAside {
    margin-left: auto;
    color: $colorDarkMild;
    @include mediaTabletL {
      display: none;
    }
  }
}
