@use 'src/styles/shared' as *;

.test {

}

.catalog {
  margin: 40px 0;

  &Container {
    @include container;
  }

  &Title {
    @include h1;
    margin-bottom: 20px;
  }

  &Suggestions {
    @include flex(center);
    column-gap: 8px;
    row-gap: 8px;
    overflow-y: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
    @include mediaTabletM {
      @include flex(flex-start, $w: wrap);
      column-gap: 12px;
      row-gap: 12px;
    }
  }

  &Suggestion {
    @include buttonMinor;
    @include dropFlex;
    width: fit-content;
  }

  &Header {

  }

  &SortButtons {
    display: none;
    @include mediaTabletL {
      @include flex(center);
      column-gap: 16px;
    }
  }

  &SortButton {
    @include onHover {
      color: $colorBlue;
    }

    &:active {
      color: $colorBlueDarker;
    }

    .iconfont {
      display: none;
    }
  }

  &ViewButtons {
    @include flex(center);
    column-gap: 16px;
    margin-left: auto;
  }

  &ViewButton {

  }

  &Layout {
    @include dropFlex;
    @include mediaTabletL {
      display: grid;
      grid-template-columns: 1fr 3fr;
      column-gap: 20px;
    }
    @include mediaLaptopM {
      column-gap: 40px;
    }
  }

  &Main {
    @include dropFlex;
    @include flex($d: column);
    row-gap: 16px;
    @include mediaTabletM {
      row-gap: 20px;
    }
  }

  &Nav {
    @include dropFlex;
    @include textS;
    @include flex(center, space-between);
    column-gap: 16px;
    @include mediaTabletM {
      column-gap: 20px;
    }
    @include mediaTabletL {
      //position: sticky;
      //z-index: 120;
      //top: calc(var(--headerHeight) + 20px);
      //background: white;
      //padding: 16px;
      //border: 1px solid $colorGreyMild;
      //border-radius: $brM;
      //box-shadow: $bsM;
    }
  }

  &Products {
    @include dropFlex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
    row-gap: 12px;
    @include mediaMobileL {
      column-gap: 16px;
      row-gap: 16px;
    }
    @include mediaLaptopS {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mediaDesktop {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;
      row-gap: 20px;
    }
  }
}

[data-catalog-prices] {
  margin-bottom: 1em;
}

