@use 'src/styles/shared' as *;

.formFeedback {
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
  padding: 16px;
  border: 1px solid $colorGreyMild;
  box-shadow: $bsM;
  border-radius: $brM;

  &Loader {
    @include loadingPlaceholder;
  }

  &Title {
    @include h5;
  }

  &Field {
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;

    &Label {
      @include textS;

      &Required {
        color: $colorRed;
        font-weight: 600;
      }
    }

    &Input {
      @include inputMain;
    }

    &Error {
      @include textS;
      position: absolute;
      z-index: 1;
      top: calc(100% + 8px);
      left: 0;
      transform: translate(0, -20px);
      pointer-events: none;
      opacity: 0;
      color: $colorRed;
      font-weight: 500;
      transition: opacity 0.33s, transform 0.33s;
      background: white;
      border-radius: $brM;
      padding: 4px 8px;
      box-shadow: $bsM;

      &._error {
        opacity: 1;
        pointer-events: auto;
        transform: none;
      }

      &._success {
        display: none;
      }
    }
  }

  &Note {
    @include textS;
    color: $colorDarkMild;

    a {
      color: $colorBlue;
      font-weight: 500;
      @include onHover {
        text-decoration: underline;
      }
    }
  }

  &Submit {
    @include buttonMain;
  }

  &Loader, &Overlay {
    position: fixed;
    z-index: 105;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(black, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.33s;

    &._active {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &Loader {
    @include flex(center, center);
  }

  &Response {
    position: fixed;
    z-index: 110;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    width: 280px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 12px;
    padding: 16px;
    box-shadow: $bsM;
    border-radius: $brM;
    background: white;
    pointer-events: none;
    opacity: 0;

    &._active {
      pointer-events: auto;
      opacity: 1;
      transform: translate(-50%, -50%);
    }

    &Close {
      position: absolute;
      z-index: 1;
      top: 12px;
      right: 12px;
      font-size: 14px;
    }

    &Title {
      @include h5;
      padding-right: 20px;
    }

    &Note {
      @include textS;
    }

    &Button {
      @include buttonMain;
    }
  }

  &Body {
    display: grid;
    grid-template-columns: 1fr;
    //align-items: flex-end;
    column-gap: 16px;
    row-gap: 16px;
  }
}
