@use 'src/styles/shared' as *;

.section {
  overflow: hidden;
  padding: 30px 0 60px;
  @include mediaTabletM {
    padding: 50px 0 80px
  }
  @include mediaLaptopS {
    padding: 80px 0 110px;
  }

  &-container {
    @include container;
  }

  &-header {
    @include flex(center, space-between);
    margin-bottom: 14px;
    @include mediaLaptopS {
      margin-bottom: 20px;
    }
  }

  &-title, &-button {
    font-size: 16px;
    line-height: 54 / 18;
    color: black;

    @include mediaTabletM {
      font-size: 18px;
    }
  }

  &-button {
    .icon-arrow-right {
      font-size: 12px;
    }
  }

  &-layout {
    margin-bottom: 30px;
    @include mediaTabletM {
      margin-bottom: 50px;
    }
    @include mediaLaptopS {
      margin-bottom: 80px;
    }
  }

  &-product {
    position: relative;
    z-index: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 6px;

    &-favourite {
      @include buttonFavourite;
      position: absolute;
      z-index: 1;
    }

    &-img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-title,
    &-price,
    &-colors {
      display: none;
    }
  }
}

.swiper {
  overflow: unset;
  @include mediaTabletL {
    overflow: hidden;
  }

  &-slide {
    height: auto;
    min-height: 0;
  }

  &-button {
    @include swiperNavigationButtons;
  }
}
