@use 'src/styles/shared' as *;

.products {
  @include sectionHeader;
  margin: 80px 0;

  &-container {
    @include container;
  }

  &-cards {
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
    row-gap: 8px;
    margin-bottom: 40px;
    @include mediaTabletM {
      column-gap: 16px;
      row-gap: 16px;
    }
    @include mediaTabletL {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mediaLaptopS {
      grid-template-columns: repeat(4, 1fr);
    }
    @include mediaDesktop {
      grid-template-columns: repeat(5, 1fr);
      column-gap: 20px;
      row-gap: 20px;
    }

    &._loading {
      .products-cards-loader {
        opacity: 1;
        pointer-events: auto;
      }
    }

    &-loader {
      @include loadingPlaceholder;
      @include flex(center, center);
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background: rgba($colorGreyMild, 0.5);
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.333s;
      //font-size: 128px;
      //color: $colorDarkMild;
      //
      //.iconfont {
      //  @keyframes rotation {
      //    0% {
      //      transform: rotate(0deg);
      //    }
      //    100% {
      //      transform: rotate(360deg);
      //    }
      //  }
      //  animation-name: rotation;
      //  animation-duration: 0.333s;
      //  animation-iteration-count: infinite;
      //  animation-timing-function: linear;
      //}
    }
  }

  &Note {
    @include textM;
    margin-bottom: 40px;
    text-align: center;
    display: none;

    &._active {
      display: block;
    }

    a, button {
      @include addBottomLineOnHover($colorBlue);
      letter-spacing: 0.02em;
      color: $colorBlue;
    }
  }

  &LoadMore {
    @include buttonMain;
    max-width: 320px;
    margin: 0 auto;
  }
}
