@use 'src/styles/shared' as *;


.order-summary {
  @include pageSummary;

  &-policy {
    line-height: 1.3;
    text-align: center;
    @include mediaOnlyTablet {
      display: inline-block;
    }

    a {
      text-decoration: underline;
    }
  }
}
