@use "src/styles/shared" as *;

.modalCatalog {
  @include scrollbar;
  position: fixed;
  z-index: 95;
  top: var(--headerHeight);
  left: 0;
  overflow-y: auto;
  width: 100%;
  height: calc(100% - var(--headerHeight));
  max-height: 540px;
  transition: transform $trM, opacity $trM;
  // opacity: 0;
  transform: translate(0, -125%);
  pointer-events: none;
  background: linear-gradient(90deg, $colorGreyMild 25%, white 25%);
  @include mediaDesktop {
    max-height: 768px;
  }

  &._active {
    // opacity: 1;
    transform: translate(0, 0);
    pointer-events: auto;
  }

  &Overlay {
    @include overlay;
    z-index: 90;
  }

  &Container {
    @include container;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 3fr;
    column-gap: 16px;
  }

  &Aside {
    height: 100%;
    padding: 16px 0;
    background: $colorGreyMild;
  }

  &Body {
    height: 100%;
    padding: 32px 0;
    background: white;

    a {
      display: inline-block;
      width: fit-content;

      @include onHover {
        color: $colorPrimary;
      }
    }
  }

  &Category {
    @include flex(center);
    font-weight: 500;
    @include textS;
    padding: 12px 16px;
    transition: background $trM, color $trM, box-shadow $trM;
    border-bottom: 1px solid white;
    border-radius: $brM 0 0 $brM;
    column-gap: 8px;

    &:last-child {
      border-bottom: 0;
    }

    &._active {
      color: $colorPrimary;
      background: white;
      box-shadow: $bsM;

      .iconfont {
        transform: translate(0, 0);
        opacity: 1;
      }
    }

    .iconfont {
      @include textS;
      display: inline-block;
      margin-left: auto;
      transition: transform $trM, opacity $trM;
      transform: translate(20px, 0);
      transform-origin: center;
      opacity: 0;
    }
  }

  &Products {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;

    &._active {
      display: grid;
    }

    &Group {
      @include textS;

      &Title {
        font-weight: 600;
        margin-bottom: 16px;
      }

      &List {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 8px;
      }
    }
  }
}
