@use 'src/styles/shared' as *;

.banner {
  display: block;
  width: 100%;

  &-img, &-video {
    display: block;
    width: 100%;
    height: fit-content;
    object-fit: cover;
    object-position: center center;
    // @include mediaOnlyMobile {
    //   min-height: calc(100vh - var(--headerHeight));
    // }
  }
}
