@use 'src/styles/shared' as *;

.product {
  &-buttons {
    @include mediaOnlyMobile {
      position: fixed;
      z-index: 100;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 10px 15px 0 15px;
      background: white;
      box-shadow: 0 -2px 4px rgba(81, 80, 79, 0.25);
    }

    &-price {
      font-size: 14px;
      line-height: 18px;
      text-align: right;
      color: black;
      @include mediaTabletM {
        display: none;
      }
    }

    .product-sizes-info span {
      display: none;
      @include mediaTabletM {
        display: block;
      }
    }

    @include mediaTabletM {
      display: flex;
      flex-direction: column;
    }
  }

  &-buttons-cont {
    @include flex(center, space-between);
    margin-top: 6px;
    padding-bottom: 16px;
    @include mediaTabletM {
      justify-content: flex-start;
      order: 1;
      margin-bottom: 35px;
    }
  }

  &-btn {
    font-size: 15px;
    line-height: 100%;
    width: calc(50% - 4px);
    padding-top: 14px;
    padding-bottom: 13px;
    cursor: pointer;
    text-align: center;
    color: black;
    border: 1px solid black;
    border-radius: 6px;
    @include mediaLaptopS {
      font-size: 16px;
    }

    &-buy {
      position: relative;
      @include flex(center);
      z-index: 0;
      overflow: hidden;
      transition: background-color 1s;
      color: white;
      border: 0;
      background: black;
      @include mediaTabletM {
        width: 270px;
      }

      &._success {
        background: black;

        .default {
          transition-delay: 0s;
          transform: translate(100%, 0);
        }

        .active {
          transition-delay: 0.33s;
          transform: none;
        }
      }

      .default, .active {
        @include flex(center, center);
        flex: 0 0 auto;
        width: 100%;
        height: 100%;
      }

      .default {
        transition: transform 0.33s ease-in-out 0.33s;
      }

      .active {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        transition: transform 0.5s ease-in-out 0s;
        transform: translate(-100%, 0);
      }
    }

    &-size {
      @include flex(center, center);
      @include mediaTabletM {
        display: none;
      }

      .icon-arrow-down {
        margin-left: 10px;
        transition: transform $toggleBtnTransition;
        transform-origin: center;
      }

      &.krel-toggle-active {
        .icon-arrow-down {
          transform: rotate(180deg);
        }
      }
    }

    &-wishlist {
      display: none;
      @include mediaTabletM {
        // @include buttonFavourite;
        font-size: 20px;
        // position: relative;
        // top: auto;
        // left: auto;
        display: block;
        margin-left: 20px;
      }
    }
  }
}

.product-sizes {
  &-cont {
    @include mediaOnlyMobile {
      .product-title {
        display: none;
      }
    }
    @include mediaTabletM {
      height: auto;
      opacity: 1;
    }
  }

  &-table-url {
    font-size: 15px;
    line-height: 18px;
    margin-top: 24px;
    padding-bottom: 28px;
    cursor: pointer;
    text-decoration: underline;
    color: black;
  }

  &-info {
    font-size: 15px;
    line-height: 22px;
    margin-top: 14px;
    color: $colorDark;

    span {
      display: block;
    }

    .product-sizes-table-url {
      margin-top: 0;
      padding-bottom: 41px;
    }

    &-mob {
      @include mediaTabletM {
        display: none;
      }
    }
  }
}

.product {
  &-sizes {
    @include scrollbar($orientation: 'horizontal');
    @include flex(center);
    position: relative;
    z-index: 0;
    column-gap: 10px;

    &-notification {
      font-size: 14px;
      position: absolute;
      z-index: 1;
      top: calc(100% + 8px);
      left: 0;
      padding: 4px;
      transition: opacity 0.33s, transform 0.33s;
      transform: translate(160px, 0);
      pointer-events: none;
      opacity: 0;
      color: $colorRed;
      border: 1px solid $colorRed;
      border-radius: 6px;
      background: white;

      &._active {
        transform: none;
        pointer-events: auto;
        opacity: 1;
      }
    }
  }

  &-size {
    font-size: 13px;
    line-height: 100%;
    display: block;
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    padding: 5px 0;
    cursor: pointer;
    text-align: center;
    border: 1px solid $colorGreyMild;
    border-radius: 6px;

    &._active {
      background-color: $colorGreyMild;
    }

    span {
      font-size: 14px;
      display: block;
    }
  }
}
