@use "src/styles/shared" as *;

.cart {
  @include sectionStyles;
  @include sectionHeader;

  &Container {
    @include container;
  }

  &Header {
  }

  &Title {
  }

  &Body {

  }

  &Note {
    @include textMp;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 0.03em;
    color: $colorDark;
    @include mediaLaptopM {
      margin-bottom: 32px;
    }
  }

  &Layout {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;
    row-gap: 20px;
    @include mediaTabletL {
      grid-template-columns: 3fr 1.25fr;
    }
    @include mediaLaptopM {
      //grid-template-columns: 3fr 1.25fr;
      column-gap: 32px;
    }
  }

  &Cards {
    display: grid;
    margin: 20px 0 0;
    grid-template-columns: 1fr;
    column-gap: 16px;
    row-gap: 16px;
    @include mediaTabletM {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      row-gap: 20px;
    }
    @include mediaTabletL {
      grid-template-columns: 1fr;
    }
  }
}
