@use 'src/styles/shared' as *;

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  color: black;
  border-bottom: 1px solid $colorGreyMild;
  box-shadow: 4px 4px 16px 0 rgba(black, 0.05);

  &-desktop {
    &-top {
      @include container;
      @include flex(center, space-between);
      column-gap: 8px;
      font-size: 13px;
      padding-top: 4px;
      padding-bottom: 4px;
      @include mediaLaptopM {
        padding-top: 8px;
        padding-bottom: 8px;
      }
      @include mediaDesktop {
        font-size: 14px;
      }
    }

    &-middle {
      @include container;
      @include flex(center);
      column-gap: 8px;
      padding-top: 8px;
      padding-bottom: 8px;
      @include mediaLaptopM {
        padding-top: 16px;
        padding-bottom: 16px;
      }
      @include mediaDesktop {
        column-gap: 16px;
      }
    }
  }

  &-location {
    @include flex(center);
    column-gap: 4px;
    border-bottom: 1px dotted;
    color: $colorBlue;
  }


  &Link {
    @include textM;
    display: inline-block;

    @include onHover {
      color: $colorBlueLight
    }

    &:active {
      color: $colorBlueDarker;
    }
  }

  &-logo {
    @include flex($d: column);
    row-gap: 2px;

    &-img {
      object-fit: contain;
      object-position: left center;
      // width: 220px;
      // height: 40px;
      height: 32px;
    }
  }

  &-slogan {
    font-size: 12px;
    color: $colorGrey;
  }

  &-catalog {
    @include buttonPrimary;
    font-size: 14px;
    width: 140px;
  }

  &-buttons {
    @include flex(center);
    column-gap: 8px;
    margin-left: auto;
  }

  &-button {
    font-size: 20px;
    position: relative;
    z-index: 0;

    &-quantity {
      @include flex(center, center);
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      background: $colorBlue;
      color: white;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      font-size: 12px;
      font-weight: 600;
      transform: translate(50%, -50%);
    }
  }

  &-search {
    @include flex(center);
    column-gap: 4px;
    position: relative;
    z-index: 0;

    &-input {
      @include inputMain;
      width: 240px;
      padding-left: calc(20px + 8px + 8px) !important;
      @include mediaDesktop {
        width: 320px;
      }
    }

    &-icon {
      @include flex(center, center);
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: calc(20px + 8px + 8px);
      height: 100%;
      font-size: 20px;
      line-height: 1;
    }
  }

  &Tel,
  &Feedback,
  &Email,
  &Personal {
    @include textS;
    @include flex(center);
    column-gap: 4px;
    width: fit-content;

    @include onHover {
      color: $colorBlueLight;
    }

    &:active {
      color: $colorBlueDarker;
    }
  }

  &Feedback {
    font-size: 12px !important;
    letter-spacing: 0.02em;
    color: $colorBlue;
    text-transform: uppercase;
  }

  //&Address {
  //}

  &Location {
    position: relative;
    z-index: 1;

    &Modal {
      position: absolute;
      z-index: 1;
      top: calc(100% + 16px);
      left: 16px;
      padding: 16px;
      border: 1px solid $colorGreyMild;
      border-radius: 6px;
      box-shadow: 4px 4px 16px 0 rgba(black, 0.05);
      background: white;
      pointer-events: none;
      opacity: 0;
      transform: translate(-100%, 0);
      transition: opacity 0.3s, transform 0.3s;
      @include mediaDesktop {
        padding: 24px;
      }

      &._active {
        opacity: 1;
        pointer-events: auto;
        transform: translate(0, 0);
      }

      &Close {
        position: absolute;
        z-index: 2;
        top: 12px;
        right: 12px;
        color: $colorGreyDarker;
        font-size: 14px;
      }

      &Title {
        @include textM;
        color: $colorGrey;
        text-align: center;
        margin-bottom: 16px;
      }

      &Buttons {
        // @include flex(center);
        display: grid;
        grid-template-columns: repeat(2, 170px);
        column-gap: 16px;
        @include mediaDesktop {
          grid-template-columns: repeat(2, 188px);
        }
      }

      &Accept {
        @include buttonPrimary;
        padding: 4px 8px;
      }

      &Choose {
        @include buttonMinor;
        padding: 4px 8px;
      }
    }
  }
}





