@use 'src/styles/shared' as *;
@import 'src/styles/ui';

:root {
  --headerHeight: 100px;
  --scrollbarWidth: 17px;
}

html {
  @include scrollbar;
}

//html, body, #app {
//  @include flex($d: column);
//}

a, button {
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}


.container {
  @include container;
}

.main {
  padding-top: var(--headerHeight);
}

.swiper {
  position: relative;
  z-index: 0;

  &, &-wrapper, &-container, &-slide {
    min-width: 0;
    min-height: 0;
    flex: 0 0 auto;
    max-width: 100%;
  }

  &-pagination {
    @include flex(center, center);
    column-gap: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12px;
    width: fit-content;
    z-index: 1;
    padding: 4px 16px;
    background: rgba(black, 0.2);
    margin: 0 auto;
    border-radius: 6px;
    //backdrop-filter: blur(1px);

    &-bullet {
      background-color: white;
      border-radius: 6px;
      width: 8px;
      height: 8px;
      transition: width 0.3s, opacity 0.3s, background-color 0.3s;
      opacity: 0.75;
      cursor: pointer;

      &-active {
        width: 24px;
        opacity: 1;
      }
    }
  }
}
