@use 'src/styles/shared' as *;
@import 'src/styles/ui';

:root {
  --headerHeight: 100px;
  --scrollbarWidth: 17px;
}

.icon-dot {
  @include flex(center, center);
  flex: 0 0 auto;
  width: 6px;
  height: 6px;
  background: currentColor;
  border-radius: 50%;
}

html {
  @include scrollbar;
  scroll-padding-top: calc(var(--headerHeight) + 20px);
}

//html, body, #app {
//  @include flex($d: column);
//}

a, button {
  transition: color $trM, background-color $trM, border-color $trM;
}


.container {
  @include container;
}

.main {
  padding-top: var(--headerHeight);
}

.my-atropos {
  // width: 320px;
  // height: 160px;
  height: 50vh;
}

.atropos-shadow {
  background: $colorGreyMild;
}

.atropos-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}


