@use 'src/styles/shared/mixins/media' as *;
@use 'src/styles/shared/mixins/helpers' as *;
@use 'src/styles/shared/mixins/typography' as *;
@use 'src/styles/shared/variables' as Vars;

@mixin inputMain {
  @include dropFlex;
  @include textM;
  line-height: 1;
  height: 40px;
  width: 100%;
  transition: background-color Vars.$trM, border-color Vars.$trM, color Vars.$trM;
  border-radius: Vars.$brM;
  border: 1px solid Vars.$colorGreyDarker;
  padding: 6px 12px;
  @include mediaLaptopM {
    padding: 8px 16px;
  }
  @include onHover {
    border-color: Vars.$colorGrey;
  }
  &:focus {
    background: Vars.$colorGreyLight;
    // border-color: Vars.$colorGreyDarker;
  }

  &._error {
    color: Vars.$colorRed;
    border-color: Vars.$colorRed;
  }
  &._success {
    color: Vars.$colorGreen;
    border-color: Vars.$colorGreen;
  }
}

@mixin buttonTemplate {
  // @include dropFlex;
  @include textM;
  text-align: center;
  font-weight: 500;
  line-height: 1;
  @include flex(center, center);
  column-gap: 4px;
  transition: background-color Vars.$trM, border-color Vars.$trM, color Vars.$trM;
  border-radius: Vars.$brM;
  @include mediaLaptopM {
    column-gap: 8px;
  }
}

@mixin buttonMain {
  @include buttonTemplate;
  padding: 4px 12px;
  height: 40px;
  width: 100%;
  border: 1px solid Vars.$colorDark;
  background-color: transparent;
  color: black;
  @include onHover {
    background: Vars.$colorDark;
    color: white;
  }

  &:active {
    background: black;
    border-color: black;
    color: white;
  }
}

@mixin buttonMinor {
  @include buttonTemplate;
  @include textS;
  transition: background-color Vars.$trM, color Vars.$trM;
  color: black;
  padding: 3px 6px;
  background: Vars.$colorGreyLight;
  border: 0;
  @include onHover {
    background: Vars.$colorGreyMild;
  }
  &:active {
    background: Vars.$colorGreyDarker;
  }
  @include mediaDesktop {
    padding: 5px 10px;
  }
}

@mixin buttonPrimary {
  @include buttonMain;
  border-color: Vars.$colorBlue;
  background-color: Vars.$colorBlue;
  color: white;
  @include onHover {
    background: Vars.$colorBlueLight;
    border-color: Vars.$colorBlueLight;
    color: white;
  }
  &:active {
    background: Vars.$colorBlueDarker;
    border-color: Vars.$colorBlueDarker;
    color: white;
  }
}

@mixin buttonSquare {
  @include buttonPrimary;
  width: 40px;
  height: 40px;
}

@mixin buttonNavigation {
  @include dropFlex;
  @include flex(center, center);
  width: 40px;
  height: 40px;
  border: 1px solid Vars.$colorGreyDarker;
  border-radius: 50%;
  box-shadow: Vars.$bsM;
  background: white;
  opacity: 1;
  color: Vars.$colorDarkMild;
  transition: background-color Vars.$trM, color Vars.$trM, transform Vars.$trM, opacity Vars.$trM;
  @include mediaTabletS {
    width: 48px;
    height: 48px;
  }
  @include onHover {
    background: Vars.$colorGreyMild;
  }

  &:active {
    background: Vars.$colorGreyDarker;
  }

  &.swiper-button-disabled {
    opacity: 0;
    pointer-events: none;
    transform: scale(0) translate(0, -50%);
  }
}

@mixin buttonPale {
  @include buttonMain;
  color: black;
  background: Vars.$colorGreyLight;
  border: 0;
  @include onHover {
    background: Vars.$colorGreyMild;
    color: black;
  }
  &:active {
    background: Vars.$colorGreyDarker;
    color: black;
  }
}
