@use 'src/styles/shared/mixins/media' as *;
@use 'src/styles/shared/mixins/helpers' as *;
@use 'src/styles/shared/mixins/typography' as *;
@use 'src/styles/shared/variables' as Vars;

@mixin inputMain {
  @include dropFlex;
  @include textM;
  line-height: 1;
  height: 40px;
  width: 100%;
  transition: background-color Vars.$trM, border-color Vars.$trM, color Vars.$trM;
  border-radius: Vars.$brM;
  border: 1px solid Vars.$colorGreyDarker;
  padding: 6px 12px;
  @include mediaLaptopM {
    padding: 8px 16px;
  }
  @include onHover {
    border-color: Vars.$colorGrey;
  }
  &:focus {
    background: Vars.$colorGreyLight;
    // border-color: Vars.$colorGreyDarker;
  }

  &._error {
    color: Vars.$colorRed;
    border-color: Vars.$colorRed;
  }
  &._success {
    color: Vars.$colorGreen;
    border-color: Vars.$colorGreen;
  }
}

@mixin buttonTemplate {
  // @include dropFlex;
  @include textM;
  text-align: center;
  font-weight: 500;
  line-height: 1;
  @include flex(center, center);
  column-gap: 4px;
  transition: background-color Vars.$trM, border-color Vars.$trM, color Vars.$trM;
  border-radius: Vars.$brM;
  @include mediaLaptopM {
    column-gap: 8px;
  }
}

@mixin buttonMain {
  @include buttonTemplate;
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 4px 12px;
  height: 40px;
  width: 100%;
  border: 1px solid Vars.$colorDark;
  background-color: transparent;
  color: black;
  @include onHover {
    //background: Vars.$colorDark;
    color: white;
    &::before {
      transform: none;
    }
  }

  &:active {
    background: black;
    border-color: black;
    color: white;

    &::before {
      background: black;
      transform: none;
    }
  }

  &::before {
    content: ' ';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: Vars.$colorDark;
    transition: transform Vars.$trM, background-color Vars.$trM;
    transform-origin: center;
    transform: scaleX(0);
  }
}

@mixin buttonMinor {
  @include buttonTemplate;
  @include textS;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: background-color Vars.$trM, color Vars.$trM;
  color: black;
  padding: 3px 6px;
  background: Vars.$colorGreyLight;
  border: 0;
  @include onHover {
    background: Vars.$colorGreyMild;
    &::before {
      box-shadow: inset 0 0 0 40px Vars.$colorGreyMild;
      background: none;
      transform: none;
    }
  }
  &:active {
    background: Vars.$colorGreyDarker;

    &::before {
      box-shadow: inset 0 0 0 40px Vars.$colorGreyDarker;
      background: none;
      transform: none;
    }
  }
  @include mediaDesktop {
    padding: 5px 10px;
  }

  &::before {
    content: ' ';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: Vars.$colorDark;
    transform-origin: center;
    transition: Vars.$trM;
    box-shadow: inset 0 0 0 1px Vars.$colorGreyMild;
    background: none;
    transform: none;
  }
}

@mixin buttonPrimary {
  @include buttonMain;
  border-color: Vars.$colorBlue;
  background-color: Vars.$colorBlue;
  color: white;
  @include onHover {
    background: Vars.$colorBlueLight;
    border-color: Vars.$colorBlueLight;
    color: white;
    &::before {
      left: 120%;
      //transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
  &:active {
    background: Vars.$colorBlueDarker;
    border-color: Vars.$colorBlueDarker;
    color: white;

    &::before {
      left: 120%;
      //transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  &::before {
    background: white;
    content: ' ';
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: left Vars.$trL cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -1;
  }
}

@mixin buttonSquare {
  @include buttonPrimary;
  width: 40px;
  height: 40px;

  &::before {
    content: none;
    display: none;
  }
}

@mixin buttonNavigation {
  @include dropFlex;
  @include flex(center, center);
  width: 40px;
  height: 40px;
  border: 1px solid Vars.$colorGreyDarker;
  border-radius: 50%;
  box-shadow: Vars.$bsM;
  background: white;
  opacity: 1;
  color: Vars.$colorDarkMild;
  transition: background-color Vars.$trM, color Vars.$trM, transform Vars.$trM, opacity Vars.$trM;
  @include mediaTabletS {
    width: 48px;
    height: 48px;
  }
  @include onHover {
    background: Vars.$colorGreyMild;
  }

  &:active {
    background: Vars.$colorGreyDarker;
  }

  &.swiper-button-disabled {
    opacity: 0;
    pointer-events: none;
    transform: scale(0) translate(0, -50%);
  }
}

@mixin buttonPale {
  @include buttonMain;
  color: black;
  background: Vars.$colorGreyLight;
  border: 0;
  @include onHover {
    background: Vars.$colorGreyMild;
    color: black;
    &::before {
      box-shadow: inset 0 0 0 40px Vars.$colorGreyMild;
      background: none;
      transform: none;
    }
  }

  &:active {
    background: Vars.$colorGreyDarker;
    color: black;

    &::before {
      box-shadow: inset 0 0 0 40px Vars.$colorGreyDarker;
      background: none;
      transform: none;
    }
  }

  &::before {
    transition: Vars.$trM;
    box-shadow: inset 0 0 0 1px Vars.$colorGreyMild;
    background: none;
    transform: none;
  }
}
