@use 'src/styles/shared/mixins/media' as *;
@use 'src/styles/shared/mixins/helpers' as *;
@use 'src/styles/shared/mixins/typography' as *;
// @use 'src/styles/shared/variables/colors' as *;

@mixin inputMain {
  @include textM;
  line-height: 1;
  flex: 0 0 auto;
  height: 40px;
  width: 100%;
  transition: background-color 0.3s, border-color 0.3s;
  border-radius: 6px;
  border: 1px solid $colorGreyMild;
  padding: 6px 12px;
  @include mediaLaptopM {
    padding: 8px 16px;
  }
  @include onHover {
    border-color: $colorGreyDarker;
  }
  &:focus {
    background: $colorGreyLight;
    border-color: $colorGreyDarker;
  }
  &._error {
    color: $colorRed;
    border-color: $colorRed;
  }
  &._success {
    color: $colorGreen;
    border-color: $colorGreen;
  }
}

@mixin buttonTemplate {
  @include textM;
  text-align: center;
  font-weight: 500;
  line-height: 1;
  @include flex(center, center);
  column-gap: 4px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  border-radius: 6px;
  @include mediaTabletL {
    column-gap: 8px;
  }
}

@mixin buttonMain {
  @include buttonTemplate;
  padding: 4px 12px;
  height: 40px;
  width: 100%;
  border: 1px solid $colorDark;
  background-color: transparent;
  color: black;
  @include onHover {
    background: $colorDark;
    color: white;
  }

  &:active {
    background: black;
    border-color: black;
    color: white;
  }
}


@mixin buttonMinor {
  @include buttonTemplate;
  font-weight: 400;
  transition: background-color 0.3s, color 0.3s;
  color: $colorDarkMild;
  padding: 4px 8px;
  border: 1px solid $colorDarkMild;
  @include onHover {
    background: $colorDarkMild;
    color: white;
  }
  &:active {
    background: $colorDark;
    color: white;
  }
}

@mixin buttonPrimary {
  @include buttonMain;
  border-color: $colorBlue;
  background-color: $colorBlue;
  color: white;
  @include onHover {
    background: $colorBlueLight;
    border-color: $colorBlueLight;
    color: white;
  }
  &:active {
    background: $colorBlueDarker;
    border-color: $colorBlueDarker;
    color: white;
  }
}

@mixin buttonSquare {
  @include buttonPrimary;
  width: 40px;
  height: 40px;
}
