@use 'src/styles/shared/mixins/media' as *;
@use 'src/styles/shared/mixins/helpers' as *;
@use 'src/styles/shared/variables/colors' as Colors;

@mixin h1 {
  line-height: 1.1;
  font-size: 32px;
  font-weight: 600;
  @include mediaTabletM {
    font-size: 36px;
  }
  @include mediaLaptopM {
    font-size: 40px;
  }
}

@mixin h2 {
  line-height: 1.1;
  font-size: 18px;
  font-weight: 600;
  @include mediaTabletS {
    font-size: 24px;
  }
  @include mediaTabletL {
    font-size: 32px;
  }
  @include mediaLaptopM {
    font-size: 36px;
  }
}

@mixin h3 {
  line-height: 1.1;
  font-size: 18px;
  font-weight: 500;
  @include mediaMobileL {
    font-size: 20px;
  }
  @include mediaTabletM {
    font-size: 24px;
  }
  @include mediaLaptopM {
    font-size: 32px;
  }
}

@mixin h4 {
  line-height: 1.1;
  font-size: 18px;
  font-weight: 500;
  @include mediaTabletM {
    font-size: 20px;
  }
  @include mediaLaptopM {
    font-size: 24px;
  }
}

@mixin h5 {
  line-height: 1.1;
  font-size: 16px;
  font-weight: 500;
  @include mediaTabletM {
    font-size: 18px;
  }
  @include mediaLaptopM {
    font-size: 20px;
  }
}

@mixin h6 {
  line-height: 1.1;
  font-size: 14px;
  font-weight: 500;
  @include mediaTabletM {
    font-size: 16px;
  }
  @include mediaLaptopM {
    font-size: 18px;
  }
}

@mixin h7 {
  line-height: 1.25;
  font-size: 12px;
  font-weight: 500;
  @include mediaMobileS {
    font-size: 13px;
  }
  @include mediaMobileM {
    font-size: 14px;
  }
  @include mediaTabletM {
    font-size: 15px;
  }
  @include mediaLaptopM {
    font-size: 16px;
  }
}

@mixin textL {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0;
  @include mediaTabletM {
    font-size: 16px;
  }
  @include mediaDesktop {
    font-size: 18px;
  }
}

@mixin textXL {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0;
  @include mediaTabletM {
    font-size: 18px;
  }
  @include mediaDesktop {
    font-size: 20px;
  }
}

@mixin textM {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0;
  @include mediaLaptopM {
    font-size: 14px;
  }
  @include mediaDesktop {
    font-size: 16px;
  }
}

@mixin textS {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0;
  @include mediaLaptopM {
    font-size: 13px;
  }
  @include mediaDesktop {
    font-size: 14px;
  }
}

@mixin textXs {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  @include mediaLaptopM {
    font-size: 13px;
  }
}

@mixin textXxs {
  font-size: 10px;
  @include mediaMobileM {
    font-size: 11px;
  }
  @include mediaMobileL {
    font-size: 12px;
  }
  @include mediaTabletS {
    font-size: 13px;
  }
}

@mixin textBody {
  $fontSize: 16px;
  $lineHeight: 1.4;

  position: relative;
  z-index: 0;
  font-size: $fontSize;
  line-height: $lineHeight;
  white-space: normal;
  letter-spacing: 0.02em;

  br {
    display: none;
  }

  p, h1, h2, h3, h4, h5, h6, ul, ol {
    &:first-child {
      margin-top: 0;
    }
  }

  ul {
    padding-left: 20px;

    &:first-child {
      margin-top: 0;
    }

    li {
      position: relative;
      z-index: 0;

      &::before {
        @include dropFlex;
        content: ' ';
        position: absolute;
        z-index: 0;
        top: $fontSize * $lineHeight * 0.5;
        left: $fontSize * -1;
        height: 0.5em;
        width: 0.5em;
        border-radius: 50%;
        background: Colors.$colorDarkMild;
        transform: translate(0, -50%);
      }
    }
  }

  h1, h2 {
    font-size: $fontSize * 1.25;
  }

  h3 {
    font-size: $fontSize * 1.125;
  }

  h4, h5, h6 {
    font-size: $fontSize;
  }

  h1, h2, h3, h4, h5, h6, hr {
    line-height: 1.25;
    font-weight: 600;
    margin: 1em 0 0.5em
  }

  ul, ol, li, img, p, details, details[open] > summary, select {
    margin: 0.5em 0;
  }

  a {
    color: Colors.$colorDarkMild;

    @include onHover {
      text-decoration: underline;
    }
  }
}
