@use 'src/styles/shared/mixins/helpers' as *;
@use 'src/styles/shared/mixins/media' as *;
@use 'src/styles/shared/mixins/typography' as *;
@use 'src/styles/shared/variables/colors' as Colors;
@use 'sass:math' as Math;

@mixin container {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 14px;
  padding-right: 14px;
  @include mediaMobileM {
    padding-left: 16px;
    padding-right: 16px;
  }
  @include mediaMobileL {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include mediaTabletS {
    padding-left: 32px;
    padding-right: 32px;
  }
  @include mediaTabletM {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include mediaLaptopM {
    padding-left: 0;
    padding-right: 0;
    max-width: 1280px;
  }
  @include mediaDesktop {
    // max-width: 1560px;
    max-width: 1600px;
  }
}

@mixin scrollbar($orientation:'vertical') {
  $width: 10px;
  $height: 5px;
  $thumbColor: Colors.$colorGreyDarker;
  $backgroundColor: white;
  $backgroundColorVertical: Colors.$colorGreyDarker;

  @include hoverableDevice {
    &::-webkit-scrollbar {
      width: $width;
      height: $height;
    }
    @if ($orientation == 'vertical') {
      &::-webkit-scrollbar-track {
        background: $backgroundColor;
      }
      &::-webkit-scrollbar-thumb {
        background: $thumbColor;
        border: ($width * 0.3) solid $backgroundColor;
      }
    } @else if ($orientation == 'horizontal') {
      //overflow-x: auto;
      //overflow-y: hidden;
      //margin-right: -10px;
      //padding-bottom: 10px;

      &::-webkit-scrollbar-track {
        background: $backgroundColorVertical;
      }
      &::-webkit-scrollbar-thumb {
        background: $thumbColor;
        border: 0;
      }
    }
  }
}

@mixin overlay {
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.33s;
  pointer-events: none;
  opacity: 0;
  background: rgba(black, 0.5);

  &._active {
    pointer-events: auto;
    opacity: 1;
  }
}

@mixin sectionHeader {
  &-header, &Header {
    @include flex(center, space-between);
    margin-bottom: 40px;
  }

  &-button, &Button {
    @include textS;
    @include addBottomLineOnHover($bg: Colors.$colorDarkMild);
    color: Colors.$colorDarkMild;
    font-weight: 500;
  }

  &-title, &Title {
    @include h2;
  }
}

@mixin productsLayout {
  @include dropFlex;
  @include flex($w: wrap);
  column-gap: 10px;
  row-gap: 10px;
  @include mediaMobileM {
    column-gap: 12px;
    row-gap: 12px;
  }
  @include mediaMobileL {
    column-gap: 16px;
    row-gap: 16px;
  }
  @include mediaDesktop {
    column-gap: 20px;
    row-gap: 20px;
  }

  & > .productCard {
    $cols: 2;
    $gap: 10px;
    $coef: Math.ceil((100 - (100 / $cols))) / 100;
    width: calc(100% / $cols - $gap * $coef);
    @include mediaMobileM {
      $cols: 2;
      $gap: 12px;
      $coef: Math.ceil((100 - (100 / $cols))) / 100;
      width: calc(100% / $cols - $gap * $coef);
    }
    @include mediaTabletL {
      $cols: 3;
      $gap: 16px;
      $coef: Math.ceil((100 - (100 / $cols))) / 100;
      width: calc(100% / $cols - $gap * $coef);
    }
    @include mediaDesktop {
      $cols: 4;
      $gap: 20px;
      $coef: Math.ceil((100 - (100 / $cols))) / 100;
      width: calc(100% / $cols - $gap * $coef);
    }
  }
}
