@use 'src/styles/shared/mixins/helpers' as Helpers;
@use 'src/styles/shared/mixins/media' as Media;
@use 'src/styles/shared/mixins/typography' as Typography;
@use 'src/styles/shared/variables' as Vars;
@use 'src/styles/shared/mixins/buttons' as Buttons;
@use 'sass:math' as Math;
@use 'src/styles/shared/functions' as Functions;

@mixin container {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 14px;
  padding-right: 14px;
  @include Media.mediaMobileM {
    padding-left: 16px;
    padding-right: 16px;
  }
  @include Media.mediaMobileL {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include Media.mediaTabletS {
    padding-left: 32px;
    padding-right: 32px;
  }
  @include Media.mediaTabletM {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include Media.mediaLaptopM {
    padding-left: 0;
    padding-right: 0;
    max-width: 1280px;
  }
  @include Media.mediaDesktop {
    // max-width: 1560px;
    max-width: 1600px;
  }
}

@mixin scrollbar($orientation:'vertical') {
  $width: 10px;
  $height: 5px;
  $thumbColor: Vars.$colorGreyDarker;
  $backgroundColor: white;
  $backgroundColorVertical: Vars.$colorGreyDarker;

  @include Helpers.hoverableDevice {
    &::-webkit-scrollbar {
      width: $width;
      height: $height;
    }
    @if ($orientation == 'vertical') {
      &::-webkit-scrollbar-track {
        background: $backgroundColor;
      }
      &::-webkit-scrollbar-thumb {
        background: $thumbColor;
        border: ($width * 0.3) solid $backgroundColor;
      }
    } @else if ($orientation == 'horizontal') {
      //overflow-x: auto;
      //overflow-y: hidden;
      //margin-right: -10px;
      //padding-bottom: 10px;

      &::-webkit-scrollbar-track {
        background: $backgroundColorVertical;
      }
      &::-webkit-scrollbar-thumb {
        background: $thumbColor;
        border: 0;
      }
    }
  }
}

@mixin overlay {
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity Vars.$trM;
  pointer-events: none;
  opacity: 0;
  background: rgba(black, 0.5);
  // backdrop-filter: blur(1px);

  &._active {
    pointer-events: auto;
    opacity: 1;
  }
}

@mixin sectionStyles {
  margin: 40px 0 48px;
  @include Media.mediaTabletM {
    margin: 56px 0 96px;
  }
}

@mixin sectionHeader {
  &-header, &Header {
    @include Helpers.flex(center, space-between);
    column-gap: 16px;
    margin-bottom: 40px;
  }

  &-button, &Button {
    @include Typography.textS;
    @include Helpers.addBottomLineOnHover($bg: Vars.$colorDarkMild);
    color: Vars.$colorDarkMild;
    font-weight: 500;
  }

  &-title, &Title {
    @include Typography.h3;
  }
}

@mixin productsLayout {
  @include Helpers.dropFlex;
  @include Helpers.flex($w: wrap);
  column-gap: 10px;
  row-gap: 10px;
  @include Media.mediaMobileM {
    column-gap: 12px;
    row-gap: 12px;
  }
  @include Media.mediaMobileL {
    column-gap: 16px;
    row-gap: 16px;
  }
  @include Media.mediaDesktop {
    column-gap: 20px;
    row-gap: 20px;
  }

  & > .productCard {
    width: Functions.calculateCardWidth(2, 10px);
    @include Media.mediaMobileM {
      width: Functions.calculateCardWidth(2, 12px);
    }
    @include Media.mediaMobileL {
      width: Functions.calculateCardWidth(2, 16px);
    }
    @include Media.mediaTabletM {
      width: Functions.calculateCardWidth(3, 16px);
    }
    @include Media.mediaDesktop {
      width: Functions.calculateCardWidth(4, 20px);
    }
  }
}

@mixin fieldSearch {
  @include Helpers.flex(center);
  column-gap: 4px;
  position: relative;
  z-index: 0;

  &Input {
    @include Buttons.inputMain;
    padding-left: 20px + 8px + 8px !important;
    padding-right: 12px + 8px + 8px !important;
  }

  &Icon, &Clear {
    @include Helpers.flex(center, center);
    position: absolute;
    z-index: 1;
    top: 50%;
    height: fit-content;
    line-height: 1;
    color: Vars.$colorDarkMild;
    transform: translate(0, -50%);
  }

  &Icon {
    font-size: 20px;
    width: 20px + 8px + 8px;
    left: 0;
  }

  &Clear {
    right: 0;
    font-size: 12px;
    width: 12px + 8px + 8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity Vars.$trM;

    &._active {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

@mixin thumbs {
  @include Helpers.flex(center, center);
  border: 1px solid Vars.$colorGreyMild;
  border-radius: Vars.$brM;
  cursor: pointer;
  aspect-ratio: 1 / 1;
  width: 48px;
  height: 48px;
  @include Media.mediaMobileM {
    width: 56px;
    height: 56px;
  }
  @include Media.mediaMobileL {
    width: 64px;
    height: 64px;
  }

  &-thumb {
    &-active {
      border-color: Vars.$colorDarkMild;
    }
  }
}
