@use "src/styles/shared" as *;

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  color: black;
  border-bottom: 1px solid $colorGreyMild;
  background: white;
  box-shadow: $bsM;

  &Desktop {
    display: none;
    @include mediaLaptopS {
      display: block;
    }

    &Top, &Middle {
      @include container;
      column-gap: 8px;
      @include mediaLaptopS {
        column-gap: 10px;
      }
      @include mediaLaptopM {
        column-gap: 16px;
      }
      @include mediaDesktop {
        column-gap: 20px;
      }
    }

    &Top {
      @include textS;
      @include flex(center, space-between);
      padding-top: 4px;
      padding-bottom: 4px;
      @include mediaLaptopS {
        padding-top: 8px;
        padding-bottom: 8px;
      }
      @include mediaDesktop {
        font-size: 14px;
      }
    }

    &Middle {
      @include flex(center);
      padding-top: 8px;
      padding-bottom: 8px;
      @include mediaLaptopS {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      @include mediaLaptopM {
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }
  }

  &Mobile {
    @include container;
    @include flex(center, space-between);
    padding-top: 16px;
    padding-bottom: 16px;
    column-gap: 12px;
    @include mediaMobileM {
      column-gap: 16px;
    }
    @include mediaTabletS {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    @include mediaLaptopS {
      display: none;
    }
  }

  &Location {
    @include flex(center);
    position: relative;
    z-index: 1;
    color: $colorPrimary;
    border-bottom: 1px dotted;
    column-gap: 4px;

    // display: none !important;

    &Modal {
      position: absolute;
      z-index: 1;
      top: calc(100% + 16px);
      left: 16px;
      padding: 16px;
      transition: opacity $trM, transform $trM;
      transform: translate(-100%, 0);
      pointer-events: none;
      opacity: 0;
      border: 1px solid $colorGreyMild;
      border-radius: $brL;
      background: white;
      box-shadow: $bsM;
      @include mediaDesktop {
        padding: 24px;
      }

      &._active {
        transform: translate(0, 0);
        pointer-events: auto;
        opacity: 1;
      }

      &Close {
        font-size: 14px;
        position: absolute;
        z-index: 2;
        top: 12px;
        right: 12px;
        color: $colorGreyDarker;
      }

      &Title {
        @include textM;
        margin-bottom: 16px;
        text-align: center;
        color: $colorGrey;
      }

      &Buttons {
        // @include flex(center);
        display: grid;
        grid-template-columns: repeat(2, 170px);
        column-gap: 16px;
        @include mediaDesktop {
          grid-template-columns: repeat(2, 188px);
        }
      }

      &Accept {
        @include buttonPrimary;
        padding: 4px 8px;
      }

      &Choose {
        @include buttonMinor;
        padding: 4px 8px;
      }
    }
  }

  &Link {
    @include textM;
    display: inline-block;

    @include onHover {
      color: $colorPrimaryLight
    }

    &:active {
      color: $colorPrimaryDarker;
    }
  }

  &Logo {
    @include flex($d: column);
    row-gap: 2px;
    @include mediaOnlyBeforeLaptop {
      margin-right: auto;
    }

    &Img {
      width: 120px;
      height: 24px;
      object-fit: contain;
      object-position: left center;
      @include mediaLaptopS {
        width: 160px;
        height: 32px;
      }
    }
  }

  &Slogan {
    font-size: 11px;
    color: $colorGrey;
  }

  &Catalog {
    @include buttonPrimary;
    @include textM;
    font-weight: 500;
    width: 120px;
    letter-spacing: 0.02em;
    // text-transform: uppercase;
    column-gap: 8px;
    @include mediaDesktop {
      width: 140px;
    }

    &._active {
      .icon-menu {
        display: none;
      }

      .icon-close {
        display: inline-block;
      }
    }

    .icon-menu {
      display: inline-block;
    }

    .icon-close {
      display: none;
    }
  }

  &Button {
    @include resetFlex;
    @include flex(center, center);
    font-size: 16px;
    position: relative;
    z-index: 0;
    color: $colorDarkMild;
    @include mediaMobileM {
      font-size: 20px;
    }
    @include mediaLaptopM {
      font-size: 23px;
    }
    @include mediaDesktop {
      font-size: 26px;
    }

    &Quantity {
      @include flex(center, center);
      font-size: 12px;
      font-weight: 600;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      width: 20px;
      height: 20px;
      transform: translate(50%, -50%);
      color: white;
      border-radius: 50%;
      background: $colorPrimary;
    }
  }

  &Search {
    @include fieldSearch;
    margin-left: auto;
  }

  &Tel,
  &Feedback,
  &Email,
  &Personal {
    @include textS;
    @include flex(center);
    flex: 0 0 auto;
    width: fit-content;
    column-gap: 4px;

    @include onHover {
      color: $colorPrimaryLight;
    }

    &:active {
      color: $colorPrimaryDarker;
    }
  }

  &Feedback {
    font-size: 12px !important;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $colorPrimary;
  }
}







