@use 'src/styles/shared' as *;

.details {
  @include dropFlex;

  &-summary {
    @include h6;
    @include flex(center, space-between);
    column-gap: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: unset;
    // cursor: pointer;

    &::before {
      display: none;
    }
  }

  &-button {
    @include flex(center, center);
    font-size: 16px;
    line-height: 1;
    width: 32px;
    height: 32px;
    transition: transform 0.33s, background-color 0.33s, color 0.33s;
    transform-origin: center;
    //border: 1px solid $colorGreyMild;
    border-radius: 50%;
    color: $colorDarkMild;

    @include onHover {
      background: $colorGreyLight;
    }

    &:active {
      background: $colorGreyMild;
    }

    .is-opening > &, .open > & {
      transform: rotate(180deg);
    }

    .is-closing > & {
      transform: rotate(0);
    }
  }

  &-body {
    @include textM;
    display: none;
    flex-direction: column;
    row-gap: 8px;
    padding-top: 16px;
    padding-bottom: 16px;

    a {
      @include onHover {
        color: $colorBlue;
      }
    }

    .is-opening > &, .open > & {
      display: flex;
    }
  }
}

[data-details] {
  @include dropFlex;
}

[data-details=details] {
  @extend .details !optional;
}

[data-details=summary] {
  @extend .details-summary !optional;
}

[data-details=button] {
  @extend .details-button !optional;
}

[data-details=body] {
  @extend .details-body !optional;
}
