@use 'src/styles/shared' as *;

.cart {
  // padding-top: 15px;
  // @include mediaTabletM {
  //   padding-top: 24px;
  // }

  &-title {
    @include pageTitle;
  }

  &-container {
    @include container;
  }

  &-layout {
    @include mediaTabletL {
      display: grid;
      grid-template-columns: auto 350px;
      column-gap: 56px;
    }
    @include mediaDesktop {
      column-gap: 156px;
    }
  }

  &-cards {
    margin-bottom: 25px;
    @include mediaTabletM {
      margin-bottom: 56px;
    }
  }
}
