@use 'src/styles/shared' as *;


.promo {
  overflow: hidden;
  padding: 60px 0;
  @include mediaTabletM {
    padding: 72px 0 80px
  }
  @include mediaTabletL {
    padding: 80px 0;
  }
  @include mediaLaptopS {
    padding: 110px 0;
  }
  @include mediaDesktop {
    padding: 110px 0;
  }

  &-container {
    @include container;
  }

  &-main {
    margin-bottom: 30px;
    @include mediaTabletL {
      @include flex(center, space-between);
      margin-bottom: 60px;
    }
    @include mediaLaptopS {
      margin-bottom: 80px;
    }
  }

  &-text {
    margin-bottom: 58px;
    @include mediaTabletM {
      margin-bottom: 80px;
    }
    @include mediaTabletL {
      margin-bottom: 0;
    }
    @include mediaLaptopS {
      padding-left: 40px;
    }
  }

  &-title {
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 1em;
    color: black;
    @include mediaTabletM {
      font-size: 26px;
      margin-bottom: 30px;
    }
    @include mediaTabletL {
      line-height: 38 / 26;
    }
    @include mediaLaptopS {
      font-size: 32px;
      line-height: 44 / 32;
    }
  }

  &-description {
    font-size: 14px;
    @include mediaTabletM {
      font-size: 16px;
      max-width: 520px;
    }
    @include mediaTabletL {
      max-width: 360px;
    }
    @include mediaLaptopS {
      font-size: 18px;
      max-width: 488px;
    }
  }

  &-img {
    display: block;
    width: 100%;
  }
}


