@use 'src/styles/shared' as *;

.bonuses {
  &-container {
    max-width: 810px;
  }

  &-title {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: black;
    @include mediaTabletM {
      font-size: 18px;
    }
  }

  &-banner {
    max-width: 404px;
    padding: 20px 28px 32px;
    color: white;
    border-radius: 6px;
    background: $colorDarkMild;

    &-header {
      @include flex(center, space-between);
      font-size: 14px;
      margin-bottom: 24px;
      padding-bottom: 10px;
      border-bottom: 1px solid white;
    }

    &-value {
      font-size: 50px;
      line-height: calc(37 / 50);
      letter-spacing: 0.02em;
    }
  }

  &-terms {
    font-size: 14px;
    line-height: calc(22 / 15);
    margin: 46px 0;
    color: $colorDark;
    @include mediaTabletM {
      font-size: 15px;
    }

    .details-body {
      display: block !important;
    }
  }

  &-history {
    margin-top: 20px;

    &-item {
      @include flex(center);
      padding: 14px 0;
      border-bottom: 1px solid $colorGreyMild;
    }

    &-body {
      flex: 1 0 auto;
    }

    &-title {
      font-size: 16px;
      letter-spacing: 0.02em;
      margin-bottom: 4px;
      color: black;
      @include mediaTabletM {
        font-size: 16px;
      }
    }

    &-date {
      font-size: 14px;
      color: black;
      @include mediaTabletM {
        font-size: 15px;
      }
    }

    &-quantity {
      font-size: 20px;
      text-align: right;
      color: $colorDarkMild;
      @include mediaTabletM {
        font-size: 22px;
      }

      &.error {
        color: $colorRed;
      }
    }

    &-button {
      @include buttonBrown;
      margin: 36px auto;
      @include mediaTabletM {
        width: 266px;
        margin: 36px auto 36px 0;
      }

      .iconfont {
        font-size: 15px;
        margin-left: 8px;
      }
    }
  }
}
