@use 'src/styles/shared' as *;

.sectionCategories {
  margin: 80px 0;

  &Container {
    @include container;
  }

  @include sectionHeader;

  &Layout {
    @include productsLayout;
  }

  &Card {
    @include flex($d: column);
    padding: 10px 0 0 10px;
    overflow: hidden;
    background: $colorGreyMild;
    border-radius: $brM;
    @include mediaMobileM {
      padding: 16px 0 0 16px;
    }
    // box-shadow: $bsM;

    &Title {
      @include h7;
      margin: 0 10px 10px 0;
      @include mediaMobileM {
        margin: 0 16px 16px 0;
      }
    }

    &Img, img {
      display: block;
      margin: auto 0 0 auto;
      height: 140px;
      object-fit: contain;
      object-position: bottom right;
    }
  }
}
