@use "src/styles/shared" as *;

.modalCart {
  @include scrollbar;
  position: fixed;
  z-index: 102;
  top: calc(var(--headerHeight) + 16px);
  right: 40px;
  display: none;
  overflow-y: auto;
  width: 540px;
  max-height: 540px;
  transition: opacity $trM, transform $trM;
  transform: translate(0, 40px);
  pointer-events: none;
  opacity: 0;
  border: 1px solid $colorGreyMild;
  border-radius: $brL;
  background: white;
  box-shadow: $bsM;
  @include mediaLaptopS {
    display: block;
  }
  @include mediaDesktop {
    width: 620px;
  }

  &._active {
    transform: translate(0, 0);
    pointer-events: auto;
    opacity: 1;
  }

  &Overlay {
    @include overlay;
    z-index: 101;
    background: rgba($colorDark, 0.5);
    //opacity: 1;
    //transform: none;
  }

  &Header, &Body, &Footer {
    padding: 16px;
    border-top: 1px solid $colorGreyMild;
    background: white;
  }

  &Header {
    @include textMp;
    @include flex($d: column);
    padding-right: 40px;
    letter-spacing: 0.03em;
    border-top: 0;
    row-gap: 8px;
  }

  &Row {
    @include flex(center, space-between);
    column-gap: 16px;

    &._hidden {
      display: none;
    }
  }

  &Clear {
    @include textXs;
    @include flex(center, center);
    color: $colorGreyDarker2;
    column-gap: 4px;
  }

  &Close {
    font-size: 16px;
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 8px;
  }

  &Title {
    font-weight: 500;
  }

  &Total {
    font-weight: 600;
    margin-right: auto;
  }

  &Body {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
  }

  &Empty {
    @include textM;
    line-height: 1.4;
    text-align: center;

    .icon-cart {
      font-size: 80px;
      margin-bottom: 16px;
      color: $colorGreyDarker2;
    }

    h2, h3 {
      @include textXL;
      margin-bottom: 16px;
    }

    p, ul, ol, li {
      margin-bottom: 16px;
    }

    a, button {
      @include addBottomLineOnHover($colorPrimary);
      color: $colorPrimary;
    }
  }

  &Footer {
    @include flex(center);
    position: sticky;
    z-index: 1;
    bottom: 0;
    column-gap: 16px;
  }

  &Catalog {
    @include buttonPrimary;
  }

  &Button {
    @include buttonPale;
    width: fit-content;
  }

  &Order {
    @include buttonPrimary;
    width: fit-content;
  }
}
