@use 'src/styles/shared' as *;

.sectionHero {
  margin: 20px 0 80px;
  overflow: hidden;

  &Container {
    @include container;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 20px;
    @include mediaLaptopM {
      grid-template-columns: 3fr minmax(320px, 1fr);
    }
  }

  &Slider {
    overflow: hidden;
  }

  &Slide {
    height: auto;

    &Img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: $brM;
    }
  }

  &Form {
    height: 100%;

    .formFeedback {
      height: 100%;

      &Body {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 16px;
        row-gap: 16px;

        @include mediaTabletM {
          grid-template-columns: repeat(3, 1fr);
          align-items: flex-end;
        }

        @include mediaLaptopM {
          grid-template-columns: 1fr;
        }
      }
    }
  }

  .swiper {
    &-pagination {
      $size: 12px;
      border-radius: $size * 0.5;

      &-bullet {
        width: $size;
        height: $size;
        border: 2px solid white;
        background: none;
        border-radius: 50%;

        &-active {
          width: $size * 2.5;
          background: white;
          border-radius: $size;
        }
      }
    }
  }
}
