@use 'src/styles/shared' as *;

.footer {
  box-shadow: 20px 0 20px 0 $colorGreyLight;
  margin-top: 80px;
  overflow: hidden;

  //&-container {
  //}

  &-top, &-middle, &-bottom {
    @include container;
    min-width: 0;
    border-top: 1px solid $colorGreyMild;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &-top {
    @include mediaLaptopS {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 40px;
      row-gap: 16px;
    }
  }

  &-middle {
    @include mediaLaptopS {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      column-gap: 16px;
      row-gap: 16px;
    }
  }

  &-bottom {
    @include textM;
  }

  &-logo {
    display: block;
    margin-bottom: 16px;

    &-img {
      object-fit: contain;
      width: 240px;
      object-position: top left;
      @include mediaLaptopS {
        width: auto;
        height: calc(18px + 16px);
      }
    }
  }

  &-info {
    @include textM;

    &-address, &-contacts {
      @include flex($d: column);
      row-gap: 8px;
      margin-bottom: 16px;
    }

    .iconfont {
      font-size: 20px;
      color: $colorBlue;
    }

    //.icon-metro {
    //  color: $colorRed;
    //}
  }

  &-payment {
    @include flex($d: column);
    row-gap: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    @include mediaLaptopS {
      padding-top: 0;
      padding-bottom: 0;
    }

    &-description {
      @include textM;
      // margin-bottom: 16px;
    }

    &-title {
      @include h6;
      // margin-bottom: 16px;
    }

    &-layout {
      @include flex(center, space-between);
      column-gap: 8px;
      @include mediaLaptopS {
        column-gap: 16px;
        width: fit-content;
      }
    }

    &-icon {
      height: 42px;
      width: 42px;
      object-fit: contain;
      //@include mediaDesktop {
      //}
    }
  }

  &-form {
    &-row {
      @include flex(flex-end);
      margin-bottom: 16px;
    }

    &-checkbox {
    }

    &-note {
      display: block;
      @include textS;

      a, button {
        text-decoration: underline;
      }
    }

    &-submit {
      @include buttonSquare;
      border-radius: 0 $brM $brM 0;
    }
  }

  &-field {
    @include flex($d: column);
    row-gap: 8px;
    position: relative;
    z-index: 0;
    @include mediaLaptopS {
      row-gap: 16px;
    }
    // flex: 1 0 auto;
    // margin-bottom: 16px;

    &-label {
      // @include textM;
      @include h6;
    }

    &-input {
      @include inputMain;
      border-radius: $brM 0 0 $brM;
      border-right: 0;
    }

    &-error {
      @include textS;
      position: absolute;
      z-index: 1;
      top: 100%;
      left: 0;
      width: 100%;
      background: white;
      display: none;
    }
  }

  a {
    display: inline-block;
    width: fit-content;
  }

  &-socials {
    @include flex(center);
    column-gap: 8px;
  }

  &-social {
    @include flex(center, center);
    width: 42px;
    height: 42px;
    flex: 0 0 auto;
    font-size: 32px;
  }

  .details {
    &-button {
      @include mediaLaptopS {
        display: none !important;
      }
    }

    &-body {
      @include mediaLaptopS {
        display: flex !important;
        padding-top: 0;
      }
    }
  }
}
