@use 'src/styles/shared' as *;

.catalog-filters {
  @include mediaOnlyMobileAndAllTablets {
    position: fixed;
    z-index: 105;
    top: 0;
    left: 0;
    // display: block;
    @include flex($d: column);
    overflow-y: auto;
    width: 320px;
    height: 100%;
    transition: transform 0.33s;
    transform: translate(-100%, 0);
    pointer-events: none;
    background: white;

    &.active {
      transform: none;
      pointer-events: auto;
    }

    @include scrollbar;
  }
  @include mediaLaptopS {
    flex: 1 0 auto;
    @include flex($a: center, $d: row);
  }

  &-header {
    @include flex(center, space-between);
    font-size: 12px;
    padding: 14px;
    letter-spacing: 0.02px;
    text-transform: uppercase;
    @include mediaLaptopS {
      display: none;
      padding-left: 0;
    }
  }

  &-close {
    font-size: 19px;
    width: 19px;
    height: 19px;
    @include mediaLaptopS {
      display: none;
    }
  }

  &-body {
    flex: 1 0 auto;
    margin-bottom: 40px;
    @include mediaLaptopS {
      @include flex(center);
      margin: 0;
    }
  }

  &-footer {
    @include flex(center);
    position: sticky;
    z-index: 1;
    bottom: 0;
    margin-top: auto;
    padding: (14px * 2) 14px;
    background: white;
    box-shadow: 0 -2px 4px rgba(81, 80, 79, 0.25);
    @include mediaLaptopS {
      display: none;
    }
  }

  &-reset, &-submit {
    width: 142px;
    height: 44px;;
    border-radius: 6px;
  }

  &-reset {
    @include buttonWhite;
    margin-right: 10px;
    color: black;
    border: 1px solid black;
    background: white;
    @include mediaLaptopS {
      margin-right: 20px;
    }
  }

  &-submit {
    @include buttonBrown;
    color: white;
    background: black;
  }

  &-title {
    font-size: 17px;
    margin-bottom: 1.25em;
    letter-spacing: 0.02em;
    color: black;
  }

  &-link {
    font-size: 15px;
    display: inline-block;
    width: fit-content;
    margin-bottom: 0.75em;
    letter-spacing: 0.02em;

    &:hover,
    &.active {
      color: black;
    }
  }
}

.catalog-filter {
  @include mediaOnlyMobileAndAllTablets {
    @include flex($d: column);
    position: relative;
    z-index: 0;

    &.open, &.is-opening {
      .catalog-filter-body {
        @include flex;
      }
    }

    &-summary {
      @include flex($j: center, $d: column);
      font-size: 17px;
      flex: 1 0 auto;
      width: auto;
      height: 70px;
      padding: 0 14px;
      cursor: pointer;
      transition: background-color 0.25s;
      border-top: 1px solid $colorGreyMild;
      @include mediaLaptopS {
        font-size: 18px;
        padding-left: 0;
      }

      &:hover {
        @include hoverableDevice {
          background: $colorGreyMild;
        }
      }

      &:active {
        background: $colorGreyMild;
      }

      &-content {
        @include flex(center);
        // flex: 1 0 auto;
        // width: auto;
      }
    }

    &-button {
      order: 1;
      margin-left: auto;
      cursor: pointer;
      transition: transform 0.33s;
      transform-origin: center;

      &.active {
        transform: rotate(180deg);
      }
    }

    &-selected {
      @include lineClamp(1);
      font-size: 13px;
      letter-spacing: 0.02em;
      color: black;
      @include mediaLaptopS {
        font-size: 14px;
      }
    }

    &-body {
      @include flex($d: column);
      font-size: 14px;
      display: none;
      padding: 14px;
      letter-spacing: 0.02em;
      @include mediaTabletM {
        font-size: 16px;
      }
    }
  }
  @include mediaLaptopS {
    font-size: 17px;
    position: relative;
    z-index: 2;
    display: inline-block;
    width: fit-content;
    margin-right: 1.5em;
    letter-spacing: 0.02em;
    &-summary {
      display: block;
      padding: (14px + 7px) 0 7px;
      cursor: pointer;

      &-content {
        @include flex(center);
      }

      &-text, &-value {
        display: inline-block;
      }

      &-value {
        margin: 0 0.25em;
      }
    }
    &-selected {
      font-size: 14px;
      display: inline-block;
      color: $colorDark;
    }
    &-button {
      @include flex(center, center);
      font-size: 13px;
      margin-left: 1em;
      transition: transform 0.33s;
      transform-origin: center;

      &.active {
        transform: rotate(180deg);
      }
    }

    &-body {
      position: absolute;
      z-index: 1;
      top: calc(100% + 10px);
      left: -20px;
      overflow-x: hidden;
      overflow-y: auto;
      min-width: 160px;
      padding: 16px 12px 12px;
      transition: opacity 0.25s, transform 0.25s;
      transform: translate(0, 40px);
      pointer-events: none;
      opacity: 0;
      border-radius: 6px;
      background: white;
      box-shadow: 4px 4px 16px 0 rgba(black, 0.15);

      &.active {
        transform: none;
        pointer-events: auto;
        opacity: 1;
      }
    }

    &-label {
      @include flex(center);
      font-size: 14px;
      padding: 0.75em 1em;
      cursor: pointer;
      transition: background 0.5s, color 0.5s;
      white-space: nowrap;

      &.active {
        color: black;
      }
    }

    &-submit {
      @include flex(center, center);
      font-size: 17px;
      width: 100%;
      height: 44px;;
      margin: 20px auto 0;
      color: white;
      background: black;
    }
  }

  &._category {
    @include mediaLaptopS {
      display: none;
    }
  }

  &._sorting {
    @include mediaLaptopS {
      order: 1;
      margin-left: auto;
    }
  }

  &-summary {
    max-width: 320px;
    @include mediaLaptopS {
      max-width: 200px;
    }
    @include mediaDesktop {
      max-width: 240px;
    }
  }

  &-selected {
    @include lineClamp(1);
    line-height: 1;
    @include mediaLaptopS {
      height: 1em;
    }
  }

  &-body {
    .catalog-filters {
      &-reset, &-submit {
        @include mediaOnlyMobileAndAllTablets {
          display: none;
        }
      }
    }
  }

  &-label {
    @include flex(center);
    width: fit-content;
    margin-bottom: 1em;
  }
}

[data-catalog-prices] {
  margin-bottom: 1em;
}
