@use 'src/styles/shared' as *;

.catalog {
  // padding-top: 40px;
  // @include mediaTabletM {
  //   padding-top: 60px;
  // }
  // @include mediaLaptopS {
  //   padding-top: 80px;
  // }

  &-container {
    @include container;
  }

  &-header {
    @include flex(center);
    // margin-bottom: 32px;
    //margin-top: -14px;
    padding: 0 0 32px;
    transition: all 0.25s ease-in-out 0s;
    background: white;
    @include mediaLaptopS {
      position: sticky;
      z-index: 1;
      top: var(--headerHeight);
      flex-wrap: wrap;
      margin-bottom: 0;
    }

    &.scrolled {
      // padding: 14px 0;

      .catalog-title {
        @include mediaLaptopS {
          display: none;
        }
      }
    }

    &-button {
      font-size: 18px;
      flex: 0 0 auto;
      width: auto;
      height: auto;
      margin-left: 0.5em;

      &._open-modal {
        @include mediaLaptopS {
          display: none;
        }
      }

      &._change-layout {
      }
    }
  }

  &-title {
    font-size: 12px;
    margin-right: auto;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    @include mediaMobileM {
      font-size: 14px;
    }
    @include mediaTabletM {
      font-size: 18px;
    }
    @include mediaLaptopS {
      font-size: 20px;
      flex: 0 0 auto;
      width: 100%;
      margin-bottom: 40px - 14px;
    }
  }

  &-layout {
    margin-bottom: 60px;
    @include mediaTabletL {
      margin-bottom: 72px;
    }
    @include mediaLaptopS {
      display: grid;
      grid-template-columns: 1fr 6fr;
      column-gap: 40px;
    }
  }

  &-aside {
    display: none;
    @include mediaLaptopS {
      @include flex($d: column);
      position: sticky;
      z-index: 0;
      top: calc(var(--headerHeight) + 20px);
      height: fit-content;
    }
  }

  &-category {
    font-size: 15px;
    display: inline-block;
    margin-bottom: 0.75em;
    letter-spacing: 0.02em;
  }

  &-more {
    @include flex(center, center);
    font-size: 17px;
    width: 160px;
    height: 44px;;
    margin: 0 auto 30px;
    border: 1px solid black;
    border-radius: 6px;
  }

  &-pagination {
    @include flex(center, center);
    font-size: 17px;
    width: fit-content;
    margin: 0 auto;

    &-list {
      @include flex(center);
      margin: 0 10px;
    }

    &-item, &-prev, &-next {
      @include flex(center, center);
      width: 28px;
      height: 28px;
      transition: background 0.5s;
      border-radius: 50%;

      &[href]:hover, &[href].active {
        color: black;
        background: $colorGreyMild;
      }

      span {
      }
    }
  }
}

.catalog-header {
  &._desktop {
    @include mediaOnlyMobileAndAllTablets {
      position: absolute;
      top: -100%;
      left: -100%;
    }
    @include mediaLaptopS {
      padding-bottom: 2px;
    }
  }

  &._mobile {
    @include flex(center);
    position: sticky;
    z-index: 10;
    top: var(--headerHeight);
    left: 0;
    width: 100%;
    padding: 14px 0;
    background: white;
    @include mediaLaptopS {
      display: none;
    }

    .catalog-title {
      margin-right: auto;
    }
  }
}
