@use 'src/styles/shared' as *;

.preview {
  position: fixed;
  z-index: 105;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 24px 14px;
  transition: transform 0.33s;
  transform: translate(0, 100%);
  pointer-events: none;
  background: white;
  @include mediaOnlyTablet {
    display: grid;
    padding: 20px 14px 30px;
    grid-template-columns: 2fr 3fr;
    column-gap: 36px;
  }
  @include mediaTabletL {
    top: 0;
    right: 0;
    width: 433px;
    height: 100%;
    padding: 36px 72px 20px;
    transform: translate(100%, 0);
  }
  @include mediaLaptopS {
    padding-bottom: 36px;
  }

  &.active {
    transform: translate3d(0, 0, 0);
    pointer-events: auto;
    // opacity: 1;
  }

  &-close {
    font-size: 20px;
    position: absolute;
    z-index: 1;
    top: 24px;
    right: 14px;
    @include mediaTabletL {
      top: 36px;
      right: 40px;
    }

    .icon-arrow-down {
      @include mediaTabletL {
        display: none;
      }
    }

    .icon-close {
      display: none;
      @include mediaTabletL {
        display: inline-block;
      }
    }
  }

  &-body {
    @include flex;
    min-width: 0;
    margin-bottom: 24px;
    @include mediaTabletL {
      @include flex($d: column);
      position: relative;
      z-index: 0;
      margin: 0 0 24px;
    }
  }

  &-slider {
    position: relative;
    z-index: 0;
    overflow: hidden;
    flex: 0 0 auto;
    width: 93px;
    min-width: 0;
    margin-right: 14px;
    border-radius: 6px;
    @include mediaTabletL {
      width: 234px;
      margin: 0 0 18px;
      border-radius: 6px;
    }

    &-button {
      &-prev, &-next {
        font-size: 14px;
        position: absolute;
        z-index: 2;
        top: 50%;
        display: none;
        width: 30px;
        height: 34px;
        transform: translate(0, -50%);
        background: rgba(white, 0.75);

        @include mediaTabletL {
          @include flex(center, center);
        }
      }

      &-prev {
        left: 0;
        border-radius: 0 6px 6px 0;
      }

      &-next {
        right: 0;
        border-radius: 6px 0 0 6px;
      }
    }

    // &-pagination {
    //   .swiper-pagination-bullet {
    //     width: 8px;
    //     height: 2px;
    //
    //     &-active {
    //       width: 8px;
    //       height: 2px;
    //     }
    //   }
    // }
  }

  &-img {
    display: inline-block;
    overflow: hidden;
    flex: 0 0 auto;
    width: 93px;
    height: 138px;
    border-radius: 6px;
    @include mediaTabletL {
      width: 234px;
      height: 351px;
      border-radius: 6px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-info {
    // @include mediaOnlyMobile {
    //   flex: 1 0 auto;
    // }
  }

  &-discount {
    @include flex(center, center);
    font-size: 12px;
    line-height: 1;
    width: 45px;
    height: 29px;
    margin-bottom: 12px;
    color: white;
    border-radius: 6px 0;
    background: $colorDarkMild;
    @include mediaTabletL {
      font-size: 15px;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 53px;
      height: 37px;
      margin-bottom: 0;
      border-radius: 10px 0 6px 0;
    }
  }

  &-title {
    font-size: 13px;
    margin-bottom: 8px;
    color: black;
    @include mediaTabletL {
      font-size: 15px;
    }
  }

  &-prices {
    @include flex(center);
    margin-bottom: 14px;
    @include mediaTabletL {
      margin-bottom: 20px;
    }
  }

  &-price {
    font-size: 15px;
    margin-right: 4px;
    @include mediaTabletL {
      font-size: 17px;
    }

    &._old {
      @include lineThrough($colorDark);
      color: $colorDark;
    }

    &._current {
      color: black;
    }
  }

  &-colors {
    @include flex(center);
  }

  &-color {
    @include flex(center, center);
    position: relative;
    z-index: 0;
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
    margin-right: 14px;
    border-radius: 50%;

    &::before {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      width: 28px;
      height: 28px;
      content: ' ';
      transition: transform 0.33s;
      transform: translate(-50%, -50%) scale(0);
      transform-origin: center;
      border: 1px solid black;
      border-radius: 50%;
    }

    &.active {
      &::before {
        transform: translate(-50%, -50%);
      }

      &:active {
        &::before {
          transform: translate(-50%, -50%) scale(1.25);
        }
      }
    }

    span {
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  //&-footer {
  //}

  &-sizes {
    $size: 28px;
    $sizeTabletBg: 32px;
    margin-bottom: $size * 0.5;
    @include mediaTabletL {
      margin-bottom: $sizeTabletBg * 0.5;
    }

    &-title {
      font-size: 15px;
      margin-bottom: 12px;
    }

    &-list {
      @include scrollbar($orientation: 'horizontal');
      @include flex(center);
      //overflow-x: auto;
      margin-right: -10px;
      padding-bottom: $size * 0.5;
      @include mediaTabletL {
        margin-right: -20px;
        padding-bottom: $sizeTabletBg * 0.5;
      }
    }

    &-message {
      font-size: 13px;
      display: none;
      margin: 10px 0;
      color: $colorRed;

      &.active {
        display: block;
      }
    }
  }

  &-size {
    @include flex(center, center);
    font-size: 13px;
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    border: 1px solid $colorGreyMild;
    border-radius: 6px;
    background: white;

    &.active {
      color: black;
      background: $colorGreyMild;
    }
  }

  &-buttons {
    @include flex(center);
  }

  &-cart {
    @include buttonBrown;
    flex: 0 0 auto;
    width: 250px;
    margin-right: 18px;
    transition: transform 0.33s;
  }

  &-favourite {
    font-size: 24px;
    flex: 0 0 auto;
    transition: transform 0.33s;

    &:active {
      transform: scale(1.15);
    }
  }
}

[data-test] {
  display: none;
}
