@use "src/styles/shared" as *;

.productReviews {
  @include sectionHeader;
  @include sectionStyles;
  max-width: 100%;
  // overflow: hidden;

  &Container {
    @include container;
  }

  &Header {
  }

  &Title {
  }

  &Button {
    // @include addBottomLineOnHover;
    @include buttonPrimary;
    //width: fit-content;

    //&::before {
    //  content: none;
    //  display: none;
    //}
  }

  &Layout {
    @include mediaTabletL {
      display: grid;
      grid-template-columns: 1fr 3fr;
      column-gap: 20px;
    }
    @include mediaLaptopS {
      column-gap: 60px;
    }
  }

  &Aside {
    margin-bottom: 40px;
    @include mediaTabletL {
      position: sticky;
      z-index: 1;
      top: calc(var(--headerHeight) + 20px);
      height: fit-content;
      margin-bottom: 0;
    }

    &Top {
      @include flex($d: column);
      margin-bottom: 16px;
      row-gap: 8px;
    }

    &Average {
      @include textMp;
      @include flex(center);
      column-gap: 16px;

      span {
        @include h2;
      }
    }

    &Based {
      span {
        display: inline-block;
        border-bottom: 1px dashed $colorYellow;
      }
    }

    &Rating {
      position: relative;
      z-index: 0;
      width: fit-content;

      &, &Top, &Bottom {
        @include resetFlex;
        @include flex(center);
      }

      &Top {
        position: absolute;
        z-index: 1;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        height: 100%;
        color: $colorYellow;
      }

      &Bottom {
        color: $colorGreyMild;
      }
    }

    &List {
      @include flex($d: column);
      margin-bottom: 16px;
      row-gap: 8px;

      &Item {
        @include textS;
        @include flex(center);
        column-gap: 16px;
      }
    }
  }

  &Filters {
    @include textS;
    @include flex(center, $w: wrap);
    margin-bottom: 16px;
    padding: 8px 16px;
    border: 1px solid $colorGreyMild;
    border-radius: $brM;
    background: $colorGreyLight;
    box-shadow: $bsM;
    column-gap: 16px;
    row-gap: 16px;
  }

  &Filter {
    .iconfont {
      display: none;
    }

    &._active {
      color: $colorPrimary;
      //.iconfont {
      //  display: inline-block;
      //}
    }

    &._asc._active {
      .icon-sort-amount-asc {
        display: inline-block;
      }

      .icon-sort-amount-desc {
        display: none;
      }
    }

    &._desc._active {
      .icon-sort-amount-asc {
        display: none
      }

      .icon-sort-amount-desc {
        display: inline-block
      }
    }
  }

  &List {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
  }

  &More {
    @include buttonMain;
    max-width: 360px;
    margin: 20px auto 0;
  }
}

.productReview {
  @include textM;
  @include flex($d: column);
  padding: 16px;
  border: 1px solid $colorGreyMild;
  border-radius: $brM;
  background: white;
  box-shadow: $bsM;
  row-gap: 8px;

  &Author {
    @include textMp;
    font-weight: 600;
    letter-spacing: 0.03em;
  }

  &Subtitle {
    @include h7;
    // font-weight: 600;
    letter-spacing: 0.03em;
  }

  &Date {
    @include textS;
    font-weight: 500;
    color: $colorGreyDarker2;
  }

  &Positives, &Negatives, &Comment {
    @include textS;
  }

  &Footer {
    @include flex(center, space-between);
  }

  &Actions {
    @include flex(center);
    column-gap: 16px;
  }

  &Like, &Dislike {
    @include textXs;
    @include flex(center, center);
    column-gap: 2px;
  }

  &Like {
    @include onHover {
      color: $colorGreen;
    }

    &._active {
      color: $colorGreen;
    }
  }

  &Dislike {
    @include onHover {
      color: $colorRed;
    }

    &._active {
      color: $colorRed;
    }
  }

  &Rating {
    @include flex(center);
    column-gap: 8px;

    &, &Stars, &Top, &Bottom {
      @include resetFlex;
      @include flex(center);
    }

    &Stars {
      position: relative;
      z-index: 0;
      width: fit-content;
    }

    &Top {
      position: absolute;
      z-index: 1;
      overflow: hidden;
      width: 100%;
      max-width: 100%;
      height: 100%;
      color: $colorYellow;
    }

    &Bottom {
      color: $colorGreyMild;
    }

    &Button {
      @include flex(center);
      column-gap: 4px;
    }

    .icon-star {
      font-size: 20px;
      width: 20px;
      height: 20px;
      @include mediaDesktop {
        font-size: 24px;
        width: 24px;
        height: 24px;
      }
    }

    &Rating {
      @include resetFlex;
      @include flex(center, center);
      font-weight: 600;
      display: inline-flex;
      width: 32px;
      height: 32px;
      padding: 8px;
      border: 1px solid $colorYellow;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
    }

    &Quantity {
      display: inline-block;
      border-bottom: 1px dashed $colorYellow;
    }
  }

  &Answers, &Actions {
    padding-left: 32px;
    @include mediaLaptopS {
      padding-left: 40px;
    }
    @include mediaDesktop {
      padding-left: 64px;
    }
  }

  //&Answers {
  //  display: grid;
  //  grid-template-columns: 1fr;
  //  row-gap: 16px;
  //}

  &Actions {
    @include textS;
    @include flex(center);
    margin: 16px 0 0;
    column-gap: 16px;
  }

  &Buttons {
    @include textS;
    @include flex(center);
    column-gap: 16px;
  }

  &Toggle {
    @include addBottomLineOnHover($colorDarkMild);
    font-weight: 500;
    width: fit-content;
    letter-spacing: 0.03em;

    &._active {
      ._open {
        display: none;
      }

      ._close {
        display: inline-block;
      }
    }

    ._open {
      display: inline-block;
    }

    ._close {
      display: none;
    }
  }

  &Reply {
    @include addBottomLineOnHover($colorPrimary);
    font-weight: 500;
    width: fit-content;
    letter-spacing: 0.03em;
    color: $colorPrimary;
  }
}

.reviewAnswer {
  @include textXs;
  display: none;
  margin: 16px 0 0;
  grid-template-columns: 1fr;
  //background: white;
  //padding: 16px;
  //box-shadow: $bsM;
  row-gap: 4px;

  &Reply {
    @include addBottomLineOnHover($colorPrimary);
    @include textXs;
    // margin-left: auto;
    width: fit-content;
    color: $colorPrimary;
  }

  &._active {
    display: grid;
  }

  &Author {
    font-weight: 700;
    letter-spacing: 0.03em;
    color: $colorDarkMild;
  }

  &Date {
    color: $colorGrey;
  }

  &Body {
    @include textBody;
    @include textXs;
    letter-spacing: 0.03em;
  }

  &Footer {
    @include flex(center, space-between);
  }
}

.reviewReply {
  position: relative;
  z-index: 0;
  // display: grid;
  display: none;
  margin-left: 32px;
  padding: 16px;
  border: 1px solid $colorGreyMild;
  border-radius: $brM;
  background: white;
  box-shadow: $bsM;
  grid-template-columns: 1fr;
  row-gap: 16px;
  @include mediaLaptopS {
    margin-left: 40px;
  }
  @include mediaDesktop {
    margin-left: 64px;
  }

  &._active {
    display: grid;
    margin-top: 16px;
  }

  &Title {
    @include textM;
    font-weight: 500;
    padding-right: 16px;
    letter-spacing: 0.03em;
  }

  &Note {
    @include textS;
    color: $colorDarkMild;

    a {
      font-weight: 500;
      color: $colorPrimary;
      @include onHover {
        text-decoration: underline;
      }
    }
  }

  &Field {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;

    &Label {
      @include textS;

      &Required {
        font-weight: 600;
        color: $colorRed;
      }
    }

    &Input {
      @include inputMain;

      &:is(textarea) {
        line-height: 1.25;
        height: 80px !important;
      }

      &[type=radio], &[type=checkbox] {
        width: 20px !important;
        height: 20px !important;
        padding: 0 !important;
      }
    }

    &Error {
      @include textS;
      font-weight: 500;
      position: absolute;
      z-index: 1;
      top: calc(100% + 8px);
      left: 0;
      padding: 4px 8px;
      transition: opacity $trM, transform $trM;
      transform: translate(0, -20px);
      letter-spacing: 0.03em;
      pointer-events: none;
      opacity: 0;
      color: white;
      border-radius: $brM;
      background: $colorRed;
      box-shadow: $bsM;

      &::before {
        $size: 8px;
        position: absolute;
        z-index: -1;
        top: $size * -0.5;
        left: $size;
        width: $size;
        height: $size;
        content: " ";
        transform: rotate(45deg);
        background: $colorRed;
      }

      &._error {
        transform: none;
        pointer-events: auto;
        opacity: 1;
      }

      &._success {
        display: none;
      }
    }

    &Counter {
      @include textS;
      position: absolute;
      z-index: 1;
      right: 12px;
      bottom: 6px;
      width: fit-content;
      letter-spacing: 0.03em;
    }

    &Rating {
      @include flex(center);
      column-gap: 4px;

      .icon-star {
        font-size: 20px;
        width: 20px;
        height: 20px;
        color: $colorGreyMild;

        &._active {
          color: $colorYellow;
        }
      }
    }
  }

  &Row {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;
    row-gap: 16px;
    @include mediaTabletM {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &Footer {
    @include flex(center);
    column-gap: 16px;
  }

  &Submit {
    @include buttonMain;
    max-width: 320px;
  }

  &Cancel {
    @include buttonPale;
    max-width: 320px;
  }

  &Close {
    @include flex(center, center);
    font-size: 14px;
    position: absolute;
    z-index: 1;
    top: 16px;
    right: 16px;
    width: 14px;
    height: 14px;
    color: $colorGreyDarker2;
  }
}
