@use 'src/styles/shared' as *;

.productReviews {
  @include sectionHeader;
  margin: 40px 0;

  &Container {
    @include container;
  }

  &Header {
  }

  &Title {
  }

  &Button {
    @include addBottomLineOnHover;
    @include buttonPrimary;
    width: fit-content;

    &::before {
      content: none;
      display: none;
    }
  }

  &Layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
  }

  &Aside {
  }

  &Filters {
    @include textM;
    @include flex(center);
    column-gap: 16px;
    background: $colorGreyLight;
    border: 1px solid $colorGreyMild;
    border-radius: $brM;
    padding: 8px 16px;
    margin-bottom: 16px;
    box-shadow: $bsM;
  }

  &List {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
  }
}

.productReview {
  @include textM;
  padding: 16px;
  background: white;
  border: 1px solid $colorGreyMild;
  border-radius: $brM;
  // box-shadow: $bsM;

  &Author {
    @include textMp;
    font-weight: 500;
  }

  &Date {
    @include textS;
    font-weight: 500;
    color: $colorDarkMild;
  }

  &Positives {
  }

  &Negatives {
  }

  &Comment {
  }

  &Rating {
    @include flex(center);
    column-gap: 8px;

    &, &Stars, &Top, &Bottom {
      @include dropFlex;
      @include flex(center);
    }

    &Stars {
      position: relative;
      z-index: 0;
      width: fit-content;
    }

    &Top {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      color: $colorYellow;
      max-width: 100%;
      overflow: hidden;
    }

    &Bottom {
      color: $colorGreyMild;
    }

    &Button {
      @include flex(center);
      column-gap: 4px;
    }

    &Rating {
      display: inline-block;
      font-weight: 600;
      border: 1px solid $colorYellow;
      border-radius: 50%;
      padding: 8px;
    }

    &Quantity {
      display: inline-block;
      border-bottom: 1px dashed $colorYellow;
    }
  }
}
