@use "src/styles/shared" as *;

.productAdvantages {
  margin: 20px 0;
  padding: 20px 0;
  background: $colorGreyDarker;
  @include mediaTabletM {
    margin: 40px 0;
    padding: 40px 0;
  }

  &Container {
    @include container;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;
    row-gap: 16px;
    @include mediaTabletM {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mediaLaptopS {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.productAdvantage {
  @include flex(center);
  padding: 16px;
  border: 1px solid $colorGreyMild;
  border-radius: $brM;
  background: white;
  box-shadow: $bsM;
  column-gap: 16px;

  &Img {
    @include flex(center, center);
    font-size: 24px;
    color: $colorPrimary;
    @include mediaDesktop {
      font-size: 40px;
    }
  }

  &Body {
    @include textS;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}
