@use 'src/styles/shared' as *;

.productDocs {
  @include sectionStyles;

  &Container {
    @include container;
  }

  &Title {
    @include h3;
    margin-bottom: 1em;
  }

  &Description {
    @include textBody;
    @include textS;
    margin-bottom: 20px;
  }

  &Layout {
    @include textM;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
    row-gap: 12px;
    @include mediaMobileM {
      column-gap: 16px;
      row-gap: 16px;
    }
    @include mediaTabletS {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
      row-gap: 20px;
    }
    @include mediaTabletL {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 32px;
      row-gap: 32px;
    }
    @include mediaLaptopS {
      column-gap: 40px;
      row-gap: 40px;
    }
    @include mediaDesktop {
      column-gap: 48px;
      row-gap: 48px;
    }

    a, img {
      @include dropFlex;
    }

    a {
      @include flex($d: column);
      row-gap: 8px;
      text-align: center;
    }

    img {
      display: block;
      margin-bottom: auto;
      width: 100%;
      object-position: center;
      object-fit: contain;
      max-height: 140px;
    }
  }
}

.productDoc {
  background: white;
  padding: 16px;
  border: 1px solid $colorGreyMild;
  border-radius: $brM;
  transition: box-shadow $trM;

  @include onHover {
    box-shadow: $bsM;

    .productDocIcon {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &Img {
    position: relative;
    z-index: 0;
  }

  &Icon {
    @include flex(center, center);
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    background: $colorBlue;
    color: white;
    opacity: 0;
    transition: opacity $trM, transform $trM;
    border-radius: $brM;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(0);
  }
}
