$colorDark: #363946;
$colorDarkMild: #575a5e;
$colorRed: #d8315b;
$colorYellow: #debe31;
$colorGreen: #4e9e82;
$colorGreenMild: #e6ede7;
$colorGrey: #8d949a;
$colorGreyDarker2: #abaeb3;
$colorGreyMild: #eff1f3;
$colorGreyLight: #f5f5f5;
$colorGreyLightest: #fcfcfa;
$colorGreyDarker: #dcdfe0;
$colorPurple: #412b82;
$colorBlue: #3d81cd;
$colorBlueLight: #508ecf;
$colorBlueDarker: #2d75c2;
