@use "src/styles/shared" as *;

.modalRegion {
  @include scrollbar;
  position: fixed;
  z-index: 160;
  // top: 50%;
  top: calc(var(--headerHeight) + 40px);
  // transform: translate(-50%, -50%);
  left: 50%;
  overflow-y: auto;
  width: calc(100% - 16px - 16px);
  max-height: 620px;
  padding: 16px;
  transition: opacity $trM;
  transform: translate(-50%, 0);
  pointer-events: none;
  opacity: 0;
  border: 1px solid $colorGreyMild;
  border-radius: $brM;
  background: white;
  @include mediaMobileL {
    width: calc(100% - 20px - 20px);
  }
  @include mediaTabletM {
    width: 640px;
    padding: 24px;
  }
  @include mediaTabletL {
    width: 768px;
  }

  &._active {
    pointer-events: auto;
    opacity: 1;
  }

  &Overlay {
    @include overlay;
    z-index: 150;
  }

  &Close {
    font-size: 14px;
    position: absolute;
    z-index: 2;
    top: 12px;
    right: 12px;
    color: $colorGreyDarker;
  }

  &Field {
    @include fieldSearch;
    margin-bottom: 16px;

    &Results {
      @include scrollbar;
      @include flex($d: column);
      position: absolute;
      z-index: 2;
      top: 100%;
      left: 0;
      overflow-y: auto;
      width: 100%;
      max-height: 160px;
      transition: transform $trM, opacity $trM;
      transform: translate(0, 40px);
      pointer-events: none;
      opacity: 0;
      border: 1px solid $colorGreyMild;
      border-top: 0;
      border-radius: 0 0 $brM $brM;
      background: white;
      box-shadow: $bsM;

      &._active {
        transform: translate(0, 0);
        pointer-events: auto;
        opacity: 1;
      }
    }

    &Result {
      @include textS;
      display: none;
      padding: 8px 12px;
      text-align: left;
      border-bottom: 1px solid $colorGreyMild;
      @include onHover {
        background: $colorGreyLight;
      }

      &._active {
        display: flex;
      }
    }
  }

  &Title {
    @include h4;
    margin-bottom: 16px;
  }

  &Body {
    @include scrollbar;
    overflow-y: auto;
    max-height: 320px;
  }

  &Cities {
    @include flex($w: wrap);
    margin-bottom: 16px;
    column-gap: 8px;
    row-gap: 8px;

    &._column {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include mediaLaptopS {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  &City, &Suggestion {
    @include textS;
    @include onHover {
      color: $colorGreen;
    }

    &:active {
      color: $colorGreen;
    }

    &._current {
      // color: $colorRed;
      font-weight: 700;
    }
  }

  &City {
    text-align: left;
  }

  &Suggestion {
    color: $colorPrimary;
    border-bottom: 1px dashed;
  }
}
