@use 'src/styles/shared' as *;

.sectionAdvisable {
  @include sectionHeader;
  @include sectionStyles;
  overflow: hidden;

  &Container {
    @include container
  }

  &Header {
  }

  &Title {
  }

  &Button {
  }

  &Wrapper {
    position: relative;
    z-index: 0;
  }

  &Slider {
    &Prev, &Next {
      @include buttonNavigation;
      position: absolute;
      z-index: 10;
      top: 50%;
    }

    &Prev {
      left: 0;
      transform: translate(-25%, -50%);
      @include mediaTabletS {
        transform: translate(-50%, -50%);
      }
    }

    &Next {
      right: 0;
      transform: translate(25%, -50%);
      @include mediaTabletS {
        transform: translate(50%, -50%);
      }
    }
  }

  .productCard {
    height: 100%;
  }

  .swiper {
    overflow: unset;
    @include mediaTabletM {
      overflow: hidden;
    }

    &-slide {
      @include dropFlex;
      height: auto;
    }
  }
}

