@use 'src/styles/shared' as *;

.icon-dot {
  @include flex(center, center);
  flex: 0 0 auto;
  width: 6px;
  height: 6px;
  background: currentColor;
  border-radius: 50%;
}

.productCard {
  @include flex($d: column);
  overflow: hidden;
  position: relative;
  z-index: 0;
  border-radius: 6px;
  border: 1px solid $colorGreyLight;
  box-shadow: 4px 4px 16px 0 $colorGreyLight;

  &-body {
    @include flex($d: column);
    flex-grow: 1;
    padding: 8px;
    row-gap: 8px;
    @include mediaLaptopM {
      padding: 16px;
    }

    & > * {
      width: fit-content;
    }
  }

  &-tags, &-buttons {
    position: absolute;
    z-index: 10;
    top: 12px;
  }

  &-buttons {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;
    right: 12px;
  }

  &-tags {
    @include flex($w: wrap);
    row-gap: 8px;
    column-gap: 8px;
    left: 12px;
    max-width: calc(100% - 12px - 20px - 8px);
  }

  &-tag {
    @include flex(center);
    column-gap: 4px;
    font-size: 13px;
    font-weight: 500;
    padding: 2px 8px;
    border-radius: 6px;
    letter-spacing: 0.02em;

    &._stock {
      background: $colorGreen;
      color: white;
    }

    &._order {
      background: $colorDark;
      color: white;
    }

    &._recommended {
      background: $colorPurple;
      color: white;
    }

    &._hit {
      background: #ee964b;
      color: white;
    }
  }

  &Tag {
    @include flex(center);
    column-gap: 8px;
    font-size: 12px;
    color: $colorGreen;
    margin-bottom: 8px;
    width: fit-content;
    @include mediaMobileL {
      font-size: 13px;
    }

    &._stock {

    }

    &._order {
      color: $colorRed;
    }

    &Text {
      border-bottom: 1px dotted;
    }
  }

  &Parameters {
    @include flex($d: column);
    //row-gap: 4px;
  }

  &Parameter {
    @include flex(center);
    column-gap: 4px;
    font-size: 12px;
    color: $colorDarkMild;
    @include mediaTabletS {
      font-size: 13px;
    }
    @include mediaLaptopS {
      font-size: 14px;
    }

    &-key {
      font-weight: 400;
    }

    &-value {
      font-weight: 500;
    }
  }

  &-slider {
    min-width: 0;
    min-height: 0;

    a {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }

  &Img {
    flex: 0 0 auto;
    min-height: 140px;
    aspect-ratio: 16 / 9;
    width: 100%;
    object-fit: contain;
    min-width: 0;
    // min-height: 0;
  }

  &-title {
    @include lineClamp(2);
    height: 40px;
    font-size: 13px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    font-weight: 400;
    @include mediaTabletM {
      font-size: 14px;
    }
    @include mediaLaptopS {
      font-size: 16px;
      height: 48px;
    }

    a {
    }
  }

  &Delivery {
    color: $colorDarkMild;
    font-size: 12px;
    @include mediaMobileL {
      font-size: 13px;
    }
    @include mediaTabletM {
      font-size: 14px;
    }

    .iconfont {
      display: inline-block;
      color: $colorDarkMild;
      font-size: 20px;
      margin-right: 4px;
    }
  }

  &-prices {
    @include mediaLaptopS {
      @include flex(center);
      column-gap: 8px;
      row-gap: 4px;
    }

    &-tax {
      display: inline-block;
      font-size: 12px;
      line-height: 1;
      padding: 4px 8px;
      background: $colorGreyMild;
      border-radius: 6px;
      width: fit-content;
      @include mediaTabletM {
        font-size: 13px;
      }
    }
  }

  &-price {
    display: inline-block;
    width: fit-content;
    font-weight: 500;
    font-size: 12px;
    @include mediaMobileL {
      font-size: 13px;
    }
    @include mediaTabletM {
      font-size: 14px;
    }
    @include mediaTabletL {
      font-size: 16px;
    }
    @include mediaLaptopM {
      font-size: 18px;
    }

    &._prev {
      font-weight: 400;
      color: $colorRed;
      position: relative;
      z-index: 0;
      font-size: 11px;
      @include mediaMobileL {
        font-size: 12px;
      }
      @include mediaTabletM {
        font-size: 13px;
      }
      @include mediaLaptopM {
        font-size: 16px;
      }

      &::before {
        content: ' ';
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        width: 100%;
        height: 2px;
        background: lightcoral;
      }
    }

    &._current {
    }
  }

  &-fav, &-compare, &-view, &-buy {
    @include flex(center, center);
    flex: 0 0 auto;
    width: 24px;
    background: white;
    box-shadow: 2px 2px 4px 0 rgba(black, 0.15);
    color: black;
    height: 24px;
    border-radius: 50%;
    font-size: 16px;
  }

  &-compare {
  }

  &-view {
  }

  &Footer {
    @include flex($d: column);
    width: 100%;
    column-gap: 8px;
    row-gap: 8px;
    margin: auto 0 0 0;
    @include mediaTabletS {
      @include flex($a: center, $d: row);
    }
    @include mediaLaptopS {

    }
  }

  &Cart {
    @include buttonMain;
  }

  &Quantity {
    @include flex(center, space-between);
    overflow: hidden;
    flex: 0 0 auto;
    margin: auto auto 0;
    border-radius: 6px;
    background: $colorGreyMild;
    width: 100%;
    height: 32px;
    @include mediaTabletS {
      width: 96px;
      height: 40px;
    }
    @include mediaTabletM {
      // width: 96px;
      margin: 0 0 auto;
    }

    &Button, &Input {
      font-size: 14px;
      text-align: center;
      flex: 0 0 auto;
      height: 100%;
      color: black;
    }

    &Button {
      @include flex(center, center);
      width: 33%;
      padding: 0 10px;
      transition: background-color 0.2s;
      @include hoverableDevice {
        &:hover {
          background: #e0e0e0;
        }
      }

      &:active {
        background: $colorGreyDarker;
      }
    }

    &Input {
      width: 34%;
      //border-left: 1px solid #e0e0e0;
      //border-right: 1px solid #e0e0e0;
    }

    &-wrapper {
      overflow: hidden;
      flex: 0 0 auto;
      width: calc(50% - 24px);
      margin-right: 24px;
      @include mediaTabletM {
        width: auto;
        margin: 0 0 auto;
      }
    }
  }
}
