@use 'src/styles/shared' as *;

.productCard {
  @include dropFlex;
  @include flex($d: column);
  overflow: hidden;
  position: relative;
  z-index: 0;
  border-radius: $brM;
  border: 1px solid $colorGreyMild;
  box-shadow: $bsM;

  &Body {
    @include dropFlex;
    @include flex($d: column);
    flex-grow: 1;
    padding: 8px;
    row-gap: 8px;
    @include mediaLaptopM {
      padding: 16px;
    }

    & > * {
      width: fit-content;
    }
  }

  &Tags, &Buttons {
    position: absolute;
    z-index: 10;
    top: 12px;
  }

  &Buttons {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;
    right: 12px;
  }

  &Tags {
    @include flex($w: wrap);
    row-gap: 8px;
    column-gap: 8px;
    left: 12px;
    max-width: calc(100% - 12px - 20px - 8px);
  }

  &Tag {
    @include textS;
    @include flex(center);
    column-gap: 4px;
    font-weight: 500;
    padding: 2px 8px;
    border-radius: $brM;

    &._stock {
      background: $colorGreen;
      color: white;
    }

    &._order {
      background: $colorDark;
      color: white;
    }

    &._recommended {
      background: $colorPurple;
      color: white;
    }

    &._hit {
      background: $colorYellow;
      color: white;
    }
  }

  &Status {
    @include textS;
    @include flex(center);
    column-gap: 8px;
    color: $colorGreen;
    margin-bottom: 8px;
    width: fit-content;

    &._stock {

    }

    &._order {
      color: $colorRed;
    }

    &Text {
      border-bottom: 1px dotted;
    }
  }

  &Parameters {
    @include flex($d: column);
  }

  &Parameter {
    @include textS;
    @include flex(center);
    column-gap: 4px;
    color: $colorDarkMild;

    &._extra {
      display: none;
    }

    &Key {
      font-weight: 400;
    }

    &Value {
      font-weight: 500;
    }
  }

  &Slider {
    @include dropFlex;

    a {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }

  &Img {
    @include dropFlex;
    display: block;
    min-height: 140px;
    aspect-ratio: 16 / 9;
    width: 100%;
    object-fit: contain;
  }

  &Title {
    @include textM;
    @include lineClamp(2);
    height: calc(13px * 1.25 * 2);
    margin-bottom: 4px;
    @include mediaLaptopM {
      height: calc(14px * 1.25 * 2);
    }
    @include mediaDesktop {
      height: calc(16px * 1.25 * 2);
    }
  }

  &Delivery {
    @include textXxs;
    color: $colorDarkMild;

    .iconfont {
      display: inline-block;
      color: $colorDarkMild;
      font-size: 16px;
      margin-right: 4px;
      @include mediaMobileL {
        font-size: 20px;
      }
    }
  }

  &Prices {
    @include textXxs;
    @include mediaLaptopS {
      @include flex(center);
      column-gap: 8px;
      row-gap: 4px;
    }

    &Tax {
      @include textXxs;
      line-height: 1;
      display: inline-block;
      padding: 3px 6px;
      background: $colorGreyMild;
      border-radius: $brM;
      width: fit-content;
    }
  }

  &Price {
    @include textXs;
    font-weight: 500;
    display: inline-block;
    width: fit-content;

    &._prev {
      @include textLineThrough($colorRed);
      @include textXxs;
      font-weight: 400;
      color: $colorRed;
    }

    &._current {
    }
  }

  &Fav, &Compare, &View, &Buy {
    @include flex(center, center);
    flex: 0 0 auto;
    width: 24px;
    background: white;
    box-shadow: 2px 2px 4px 0 rgba(black, 0.15);
    color: black;
    height: 24px;
    border-radius: 50%;
    font-size: 16px;
  }

  &Compare {
  }

  &View {
  }

  &Footer {
    @include flex($d: column);
    width: 100%;
    column-gap: 8px;
    row-gap: 8px;
    margin: auto 0 0 0;
    @include mediaTabletS {
      @include flex($a: center, $d: row);
    }
  }

  &Cart {
    @include buttonMain;
    padding: 3px 6px;
    column-gap: 4px;
  }

  &Quantity {
    @include flex(center, space-between);
    overflow: hidden;
    flex: 0 0 auto;
    margin: auto auto 0;
    border-radius: $brM;
    background: $colorGreyMild;
    width: 100%;
    height: 32px;
    @include mediaTabletS {
      width: 88px;
      height: 40px;
    }
    @include mediaTabletM {
      margin: 0 0 auto;
    }
    @include mediaLaptopM {
      width: 96px;
    }

    &Button, &Input {
      font-size: 14px;
      text-align: center;
      flex: 0 0 auto;
      height: 100%;
      color: black;
    }

    &Button {
      @include flex(center, center);
      width: 33%;
      padding: 0 10px;
      transition: background-color 0.33s;
      @include onHover {
        background: #e0e0e0;
      }

      &:active {
        background: $colorGreyDarker;
      }
    }

    &Input {
      width: 34%;
    }
  }

  &Bottom {
    @include flex($d: column);
    row-gap: 8px;
    width: 100%;
    flex-grow: 1;
  }
}

.row .productCard {
  @include flex(flex-start, flex-start, row);

  &Title {
    height: auto;
    @include mediaTabletM {
      @include textL;
      font-weight: 500;
    }
  }

  &Slider {
    overflow: hidden;
    height: 100%;
    margin: 16px 0 0;
    width: 100px;
    @include mediaTabletS {
      width: 200px;
    }
    @include mediaTabletM {
      margin-top: 0;
    }
    @include mediaDesktop {
      width: 240px;
    }
  }

  &Title, &Parameters {
    padding-right: 8px;
  }

  &Tags {
    top: 8px;
    left: 8px;
    row-gap: 4px;
    max-width: 100px;
    @include mediaTabletS {
      max-width: 200px;
    }
    @include mediaDesktop {
      max-width: 240px;
    }
  }

  &Buttons {
    top: 8px;
    right: 8px;
  }

  &Parameter {
    @include textS;
    line-height: 1.4;
    //@include mediaTabletM {
    //  @include textM;
    //  line-height: 1.4;
    //}

    &._extra {
      @include flex;
    }
  }

  &Body {
    min-height: 200px;
    width: calc(100% - 100px);
    @include mediaTabletS {
      width: calc(100% - 200px);
    }
    @include mediaTabletM {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 16px;
      padding-right: 32px;
    }
    @include mediaDesktop {
      width: calc(100% - 240px);
    }
  }

  &Bottom {
    flex-grow: 1;
    // width: fit-content;
  }

  &Delivery {
    @include textS;
  }

  &Price {
    @include textM;

    &._current {
      font-weight: 600;
      @include mediaTabletM {
        @include textL;
        font-weight: 500;
      }
    }

    &._request {
      @include textS;
      font-weight: 500;
      //@include mediaTabletM {
      //  @include textM;
      //}
    }
  }

  &Footer {
    @include mediaMobileS {
      @include flex(center, space-between, row);
      column-gap: 8px;
    }
    @include mediaTabletM {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &Quantity, &Cart {
    height: 32px;
    @include mediaTabletL {
      height: 40px;
    }
  }

  &Quantity {
    margin: 0;
    @include mediaMobileS {
      width: 88px;
    }
    @include mediaTabletM {
      width: 120px;
    }
  }

  &Cart {
    width: auto;
    flex-grow: 1;
    @include mediaTabletM {
      width: 200px;
      flex-grow: 0;
    }
  }

  .swiper-pagination {
    padding: 3px 6px;
  }
}
