@use "src/styles/shared" as *;


.sectionPartners {
  overflow: hidden;
  margin: 80px 0;
  padding: 0 0 40px;

  &Container {
    @include container;
  }

  @include sectionHeader;

  &Button {
    @include buttonMain;
    width: fit-content;

    &::before {
      display: none;
    }
  }

  &Slide {
    @include flex($d: column);
    height: auto;
    padding: 16px;
    border: 1px solid $colorGreyMild;
    border-radius: $brM;
    // box-shadow: $bsM;

    &Img {
      width: 100%;
      height: 120px;
      margin-bottom: 10px;
      object-fit: contain;
      @include mediaLaptopM {
        height: 180px;
      }
    }

    &Title {
      // @include addBottomLineOnHover;
      @include textM;
      width: fit-content;
      margin-top: auto;
    }
  }

  .swiper {
    // overflow: unset;
    overflow: hidden;

    &-button {
      &-prev, &-next {
        @include flex(center, center);
        // position: absolute;
        //z-index: 2;
        //top: 100%;
        //transform: translate(0, -50%);
        position: static;
        flex: 0 0 auto;
        width: 54px;
        height: 36px;
        cursor: pointer;
        transition: border-color $trM, background-color $trM, color $trM;
        color: $colorDarkMild;
        // border-radius: 50%;
        border: 1px solid $colorDarkMild;
        border-radius: $brM;
        // box-shadow: $bsM;
        background: white;

        @include onHover {
          border-color: $colorDarkMild;
        }

        &:active {
          color: white;
          background: $colorDarkMild;
        }

        &-disabled {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }

      &-prev {
        // left: 0;
      }

      &-next {
        // right: 0;
      }
    }

    &-footer {
      @include flex(center);
      width: fit-content;
      margin: 40px auto 0;
    }

    &-pagination {
      $size: 12px;
      position: static;
      width: fit-content;
      margin: 0 auto;
      transform: none;
      border-radius: $size * 0.5;
      background: none;

      &-bullet {
        width: $size;
        height: $size;
        margin: 0;
        border: 2px solid $colorDarkMild;
        border-radius: 50%;
        background: none;

        &-active {
          width: $size * 2.5;
          height: $size;
          border-radius: $size;
          background: $colorDarkMild;
        }
      }
    }
  }
}
